
<table align="center" bgcolor="#ffffff" border="1" width="600" cellspacing="5" cellpadding="5">

<tr colspan="2">
    <td colspan="2">
        <img src="<?php echo  Router::url("/",true).'img/frontend/website/email/bg-email.png'?>">
    </td>
</tr>

<tr colspan="2" valign="top" align="center">
  <td colspan="2"><strong style="color:#1e212a;font-size:18px;"><?php echo __("Citación a reunión cancelada")?></strong></td>
</tr>


<tr colspan="2" valign="top" align="left">
  <td rowspan="1"><strong style="color:#1e212a;"><?php echo __('Asunto'); ?></strong></td>
  <td rowspan="1"><span><?php echo h($datos['Meeting']['subject']); ?></span></td>
</tr>

<tr colspan="2" valign="top" align="left">
  <td rowspan="1"><strong style="color:#1e212a;"><?php echo __('Tipo de reunión'); ?></strong></td>
  <td rowspan="1"><span><?php echo h($datos['Meeting']['meeting_type']); ?></span></td>
</tr>

<tr colspan="2" valign="top" align="left">
  <td rowspan="1"><strong style="color:#1e212a;"><?php echo __('Empresa'); ?></strong></td>
  <td rowspan="1"><span><?php echo h($datos['Team']['name']); ?></span></td>
</tr>

<tr colspan="2" valign="top" align="left">
  <td rowspan="1"><strong style="color:#1e212a;"><?php echo __('Cliente'); ?></strong></td>
  <td rowspan="1"><span><?php echo h($datos['Client']['name']); ?></span></td>
</tr>

<tr colspan="2" valign="top" align="left">
  <td rowspan="1"><strong style="color:#1e212a;"><?php echo __('Fecha y hora del inicio'); ?></strong></td>
  <td rowspan="1"><span><?php echo h($this->Time->format('d-m-Y h:i A', $datos['Meeting']['start_date'])); ?></span></td>
</tr>

<?php if ($datos['Meeting']['location'] != ''): ?>
<tr colspan="2" valign="top" align="left">
  <td rowspan="1"><strong style="color:#1e212a;"><?php echo __('Lugar de la reunión'); ?></strong></td>
  <td rowspan="1"><span><?php echo h($datos['Meeting']['location']); ?></span></td>
</tr>
<?php else: ?>
<tr colspan="2" valign="top" align="left">
  <td rowspan="1"><strong style="color:#1e212a;"><?php echo __('Lugar de la reunión'); ?></strong></td>
  <td rowspan="1"><span><?php echo __('Lugar no suministrado.'); ?></span></td>
</tr>
<?php endif; ?>

<tr colspan="2" valign="top" align="left">
  <td rowspan="1"><strong style="color:#1e212a;"><?php echo __('Fecha y hora del fin'); ?></strong></td>
  <td rowspan="1"><span><?php echo h($this->Time->format('d-m-Y h:i A', $datos['Meeting']['end_date'])); ?></span></td>
</tr>

<tr colspan="2" valign="top" align="center" bgcolor="#f2f2f2">
  <td colspan="2"><strong style="color:#1e212a;"><?php echo __('Descripción'); ?></strong></td>
</tr>

<tr colspan="2" valign="top" align="left">
  <td colspan="2"><span style="color:#1e212a;"><?php echo h($datos['Meeting']['description']); ?></span></td>
</tr>

<?php if ($datos['Meeting']['private'] != 1): ?>
<tr colspan="2" valign="top" align="left">
  <td rowspan="1"><strong style="color:#1e212a;"><?php echo __('Reunión privada, la contraseña es:'); ?></strong></td>
  <td rowspan="1"><span><?php echo h($datos['Meeting']['password']); ?></span></td>
</tr>
<?php endif ?>

<tr colspan="2" valign="top" align="center" bgcolor="#f2f2f2">
  <td colspan="2"><strong style="color:#1e212a;"><?php echo __('Asistentes') ?></strong></td>
</tr>

<tr colspan="2" valign="top" align="left">
  <td rowspan="1"><strong style="color:#1e212a;"><?php echo __('Nombre') ?></strong></td>
  <td rowspan="1"><strong style="color:#1e121a;"><?php echo __('Correo electrónico') ?></strong></td>
</tr>

<?php foreach ($datos['Assistant'] as $value): ?>
<tr colspan="2" valign="top" align="left">
  <td rowspan="1"><span><?php echo $value['User']['name'] ?></span></td>
  <td rowspan="1"><span><?php echo $value['User']['email'] ?></span></td>
</tr>
<?php endforeach ?>

<tr colspan="2" valign="top" align="center" bgcolor="#f2f2f2">
  <td colspan="2"><strong style="color:#1e212a;"><?php echo __('Tags') ?></strong></td>
</tr>

<?php if (isset($datos['Tag'][0])): ?>
<?php foreach ($datos['Tag'] as $value): ?>
<tr colspan="2" valign="top" align="left">
  <td colspan="2"><span><?php echo $value['name'] ?></span></td>
</tr>
<?php endforeach ?>
<?php else: ?>
<tr colspan="2" valign="top" align="left">
  <td rowspan="2"><span><?php echo __('No hay tags registrados.') ?></span></td>
</tr>
<?php endif; ?>

<tr colspan="2" valign="top" align="center" bgcolor="#f2f2f2">
  <td colspan="2"><strong style="color:#1e212a;"><?php echo __('Temas específicos') ?></strong></td>
</tr>


<?php if (isset($datos['Topic'][0])): ?>
<tr colspan="2" valign="top" align="left">
  <td rowspan="1"><strong style="color:#1e212a;"><?php echo __('Descripción') ?></strong></td>
  <td rowspan="1"><strong style="color:#1e212a;"><?php echo __('Tiempo') ?></strong></td>
</tr>
<?php foreach ($datos['Topic'] as $value): ?>
<tr colspan="2" valign="top" align="left">
  <td rowspan="1"><span><?php echo $value['description'] ?></span></td>
  <td rowspan="1"><span><?php echo  $this->Utilities->conversorSegundosHoras($value["time"]); ?></span></td>
</tr>
<?php endforeach ?>
<?php else: ?>
<tr colspan="2" valign="top" align="left">
  <td colspan="2"><span style="color:#1e212a;"><?php echo __('No hay temas específicos.') ?></span></td>
</tr>
<?php endif; ?>	

<tr colspan="2" valign="top" align="center">
  <td colspan="2">
   <span style="color:#969696;font-size:12px;"><?php echo __('A solution of StrategeeSuite.com ')?><?php echo __('© 1993-') ?><?php echo date('Y'); ?></span> <a href="http://strategeesuite.com/legal" style="color:#969696;font-size:12px;text-decoration:none;"><span><?php echo __('Strategee, LLC. or its affiliates.') ?></span></a>
  </td>
</tr>

<table style="width: 600px;background-color:#FBFBFB; color:#111E2D; display:block; margin: 0 auto; border-collapse: collapse; font-family: Helvetica, Arial, Sans-Serif;">
                    <tr align="center">
               
                        <td style="width:200px;">
                           
                        </td>

                        <td style="width:30px;">
                           <a href="<?php echo configure::read("INSTAGRAM_URL_SUITE")?>" target="_blank"><img src="<?php echo  Router::url("/",true).'img/frontend/website/email/instagram.png'?>"></a>
                        </td>

                        <td style="width:30px;">
                          <a href="<?php echo configure::read("FACEBOOK_URL_SUITE")?>" target="_blank"><img src="<?php echo  Router::url("/",true).'img/frontend/website/email/facebook.png'?>"></a>
                        </td>

                        <td style="width:30px;">
                            <a href="<?php echo configure::read("YOUTUBE_URL_SUITE")?>" target="_blank"><img src="<?php echo  Router::url("/",true).'img/frontend/website/email/youtube.png'?>"></a>
                        </td>

                        <td style="width:30px;">
                            <a href="<?php echo configure::read("TWITER_URL_SUITE")?>" target="_blank"><img src="<?php echo  Router::url("/",true).'img/frontend/website/email/twitter.png'?>"></a>
                        </td>
                        
                        <td style="width:40px;">
                           <b style="color:#21C910;">|</b>
                        </td>

                        <td style="width:40px;">
                            <a href="https://recapmeeting.com/" target="_blank" style="color:#21C910;"><?php echo __("www.recapmeeting.com") ?></a>
                        </td>

                        <td style="width:200px;">
                          <a href="https://strategeesuite.com/legal" target="_blank"><img src="<?php echo  Router::url("/",true).'img/frontend/website/email/logo-strategeesuite.png'?>"></a>
                        </td>
                    </tr>
                </table>    
  
</table>





	
	

               







