.container-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:flex-start;
}

.col-commitments{
    width:33%;
    background-color:#ffffff;
    -webkit-box-shadow: 10px 10px 5px -8px rgba(107,106,107,0.45);
    -moz-box-shadow: 10px 10px 5px -8px rgba(107,106,107,0.45);
    box-shadow: 10px 10px 5px -8px rgba(107,106,107,0.45);
}

.scroll-list-compromises{
    height:400px;
    overflow-y:auto;
}

.nav-dropdown-commpromises{
margin-top: 20px;
margin-bottom: 10px;
background-color:#1e212a;
height:40px;
width:auto;
line-height:40px;
border-radius:40px;
padding:0 1em;
}

.nav-dropdown-commpromises .dropdown .caret {
    color:#ffffff;
  }

.nav-dropdown-commpromises .dropdown .dropdown-menu {
  right:0;
  left:auto;
  border-radius:0;
  padding:0;
}

.nav-dropdown-commpromises .dropdown .dropdown-menu i:before {
    margin-left:0;
    margin-right:15px;
    color:#1e212a;
 }

 .nav-dropdown-commpromises .dropdown .dropdown-menu li a {
    cursor:pointer;
    padding:10px 20px;
 }

.icon-nav-compromises:before{
  margin-left:0;
  color:#ffffff;
}

@media(max-width: 1200px) {  
    .col-commitments{
        width:100%;
        margin-bottom: 15px;
    }
}

.header-col{
    background-color:#e9e9e9;
}

.header-col h3{
    margin:0;
    padding:5%;
    color:#1e212a;
    font-weight:700;
    font-size:18px;
}

.header-col span{
    float: right;
    padding: 0 0 0 5%;
}

.btn-table{
    background-color:#1e212a;
    color:#ffffff;
    border-radius:0;
    padding:5px;
}

.btn-table:hover,.btn-table:focus,.btn-table:active{
    background-color:#1e212a;
    color:#ffffff;
    border-radius:0;
    padding:5px;
}

.border-bottom-table{
    border-bottom:1px solid #cccccc;
}

.border-right-table{
    border-right:1px solid #cccccc;
}


.f-table-commitments tr{
    border-bottom:1px solid #cccccc;
}

.squaredFour {
    position: relative;
    width:20px;
  }

 .description-table{
     height:150px;
     overflow-y: auto;
 } 

 .description-table p{
    word-wrap: break-word;
} 

.f-table-grid{
    table-layout: fixed;
}

.f-table-grid .col-20-table {
    width:20%;
}

.f-table-grid .col-40-table {
    width:40%;
}

.f-table-grid .col-50-table {
    width:50%;
}

.f-table-grid .p-word-wrap-table {
    word-wrap: break-word;
}
