.text-name{
    font-weight:700;
    font-size:21px;
}

.text-activado{
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #1e212a;
    color: #ffffff;    
    font-weight: 700;
}

.circle-cifras{
    background-color: #1e212a;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    margin:0 auto;
    display:block;
}

.flex-space-around-cifras{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items: center;
}

@media(max-width: 767px) {  
    
    .flex-space-around-cifras{
        justify-content:center;
    }

    .flex-space-around-cifras .col-cifras{
        width:100%;
    }
}



.title-circle-cifras{
    margin:1em 0;
    text-align:center;
}


/* employees_view */
.img-employees{
width:200px;
height:200px;
display:block;
margin:0 auto;
}

.col-left{
    margin:0 5% 0 0;
}

@media(max-width: 767px) {  
    .col-left{
        margin:0 0 0 0;
    }
}


.col-right{
    position:relative;
    margin:0 0 0 5%;
}

.col-right::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: -15px;
    top: 50px;
    border-right: 15px solid #ffffff;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

@media(max-width: 767px) {  
    .col-right{
        margin:0 0 0 0;
    }

    .col-right::before{
        display:none;
    }
}

