/* Contenedor de la información */

.content-info {
    padding: 20px 0;
}

.f-cell-border-right:before {
    border-right: 1px solid #ccc;
    content: "";
    height: 70%;
    position: absolute;
    right: 0;
    top: 8px;
    bottom: 8px;
    width: 1px;
}

.head-table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #e6e6e6;
}

.head-title {
    margin: 0;
    padding: 0 0 0 1em;
    font-size: 18px;
}


/*Compromise section*/

.compromises-tab {
    background-color: #ffffff;
    font-weight: 700;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.compromises-tab a {
    background-color: #ccc;
    border-bottom: 5px solid transparent;
    color: #1e212a;
    padding: 0 1em;
    text-decoration: none;
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
}

@media(max-width: 544px) {
    .compromises-tab a {
        justify-content: flex-start;
    }
}

.compromises-tab a:focus,
.compromises-tab a button:focus {
    outline: 0;
}

.compromises-tab a:hover,
.compromises-tab a.active {
    background-color: #1e212a;
    color: #fff !important;
}

.compromises-tab a:last-child {
    margin-right: 0;
}

.compromises-tab a button {
    background: none;
    border: none;
    display: flex;
    align-items: center;
}

.compromises-tab a button span {
    font-size: 2.5rem;
    font-weight: bold;
    color: inherit;
    padding-right: .5em;
}

.option-users-item div:first-child {
    background-color: #1e212a;
    border-radius: 50%;
    color: #ffffff;
    font-family: 'CenturyGothic-Bold';
    height: 50px;
    margin: 0 auto;
    width: 50px;
}

.icon-notification::before {
    margin-left: 0;
}



/* Cards cifras */

.title-cifras {
    margin-top: 0;
    margin-bottom: 2em;
    font-weight: 700;
}

@media(max-width: 767px) {
    .title-cifras {
        display: none;
    }
}

.icon-margin-left-0::before {
    margin-left: 0;
}

.card-cifras {
    text-align: center;
    border-right: 1px solid #cccccc;
    padding: 0 1em;
    width: 25%;
}

@media(max-width: 991px) {
    .card-cifras {
        border-right: none;
        padding: 1em 1em;
        width: 50%;
    }
}

@media(max-width: 544px) {
    .card-cifras {
        border-right: none;
        padding: 1em 1em;
        width: 100%;
    }
}

.card-cifras:last-child {
    border-right: none;
}

.card-cifras .card-number {
    color: #21c910;
    font-size: 48px;
    font-weight: 700;
}

.card-cifras .card-text {
    color: #1e212a;
    font-weight: 700;
    font-size: 21px;
}

.card-cifras i::before {
    font-size: 36px;
}

.bg-raiting {
    background-image: url(../../../../img/frontend/website/home/bg-header-admin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    text-align: center;
    position: relative;
    height: 200px;
    width: 100%;
    left: 0;
}

.bg-raiting::before {
    content: ' ';
    background-color: rgba(10, 16, 33, 0.9);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: absolute;
}

.bg-raiting h3 {
    margin: 0;
    line-height: 200px;
    color: #ffffff;
    position: relative;
}

.card-btn-bottom {
    position: absolute;
    bottom: -15px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.d-btn-top {
    position: absolute;
    top: -15px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.position-relative {
    position: relative;
}


/*Home*/

.box-home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(235, 235, 235, 1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(235, 235, 235, 1);
    box-shadow: 10px 10px 5px 0px rgba(235, 235, 235, 1);
    margin-bottom: 15px;
}

.nav-options {
    width: 100%;
    display: flex;
    background-color: rgba(10, 16, 33, 1);
    position: absolute;
    top: 0;
    left: -100%;
    right: 0;
    bottom: 0;
    z-index: 2;
    align-items: center;
    transition: .3s;
}

.nav-options.activado {
    left: 0;
}

.col-45 {
    width: 45%;
}

@media(max-width: 1200px) {
    .col-45 {
        width: 100%;
        margin-bottom: 15px;
    }
}

.scroll-vertical {
    height: 350px;
    overflow-y: auto;
}


/*Meetings section*/

.meetings-next .flaticon-note:before {
    font-size: 1.6rem;
    margin-left: 0;
}

.meetings-next .flaticon-settings:before {
    font-size: 1.6rem;
    margin-left: 0;
}

.recent-activities i[class*="flaticon-"]:before {
    margin: 0;
}


/*Activities*/

.activity-point {
    background-color: #ccc;
    border-radius: 50%;
    display: inline-block;
    height: 7px;
    width: 7px;
}



/*Compromises*/


/*Styles section general*/

.meetings-next .box,
.recent-activities .box,
.compromises .box {
    border-top: none;
}

.container-shadow {
    background-color: #ffffff;
    box-shadow: 4px 4px 8px #ccc;
}


/* Nuevos estilos para el page index */

.nav-dropdown-meetings {
    background-color: #1e212a;
}

.nav-dropdown-meetings .dropdown {
    padding: 0 1em;
}

.nav-dropdown-meetings .dropdown i:before {
    color: #ffffff;
}

.nav-dropdown-meetings .dropdown .dropdown-menu {
    right: 0;
    left: auto;
    border-radius: 0;
    padding: 0;
}

.nav-dropdown-meetings .dropdown .dropdown-menu li a {
    padding: 10px 20px;
}

.bg-filter-subtitle-metting {
    margin: 0;
    line-height: 40px;
    padding-left: 15px;
}

.null-company {
    background-color: #ffffff;
    border-radius: 4px;
    margin: 2em 8em;
    padding: 2em;
    font-size: 21px;
}

.null-company p {
    margin: 0;
}


/* Nueva maquetación para el indexpage */

.card-step {
    width: 100%;
    position: relative;
    background-color: #ffffff;
    -webkit-box-shadow: -1px 0px 5px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: -1px 0px 5px 1px rgba(0, 0, 0, 0.25);
    box-shadow: -1px 0px 5px 1px rgba(0, 0, 0, 0.25);
    margin-bottom: 15px;
    padding: 15px;
}

.card-step-number {
    display: inline-block;
    background-color: #1e212a;
    color: #ffffff;
    width: 35px;
    height: 35px;
    margin-right: 15px;
    border-radius: 50%;
    -webkit-box-shadow: -1px 0px 5px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: -1px 0px 5px 1px rgba(0, 0, 0, 0.25);
    box-shadow: -1px 0px 5px 1px rgba(0, 0, 0, 0.25);
}

.card-step-number p {
    margin: 0;
    text-align: center;
    line-height: 35px;
    color: #ffffff;
    font-weight: 700;
}

.card-step i:before {
    color: #21c910;
    font-size: 24px;
}

.card-banner-buy {
    width: 60%;
    height: 100px;
    background-image: url("../../../../img/frontend/website/home/bg-header.jpg");
    background-size: cover;
    background-position: center top;
    position: relative;
    color: #ffffff;
}

.card-banner-buy p {
    position: relative;
    margin: 0;
    color: #ffffff;
    line-height: 100px;
    font-size: 24px;
    margin-left: 15px;
}

.card-banner-buy-eng p{
    font-size: 22px;
}

@media(max-width: 767px) {
    .card-banner-buy p {
        line-height: 50px;
    }
}

.card-banner-buy:before {
    content: '';
    background-color: rgba(10, 16, 33, 0.8);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: auto;
    position: absolute;
}

.card-banner-buy-btn {
    width: 40%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: #1e212a;
}

@media(max-width: 767px) {
    .card-banner-buy-btn {
        width: 100%;
    }
    .card-banner-buy {
        width: 100%;
    }
}

.slider-step-actions {
    position: absolute!important;
    left: 65px;
    right: 15px;
}

.slider-step-actions a {
    line-height: 100px;
}

.small-box-footer {
    color: #1e212a;
}

.small-box-footer:hover {
    text-decoration: underline;
    color: #21c910;
}

#update-content-commitment-createds .header-col-home h3,
#update-content-commitment-completeds .header-col-home h3,
#update-content-commitment-dot-done .header-col-home h3,
#update-content-commitment-expired .header-col-home h3 {
    color: #1e212a;
    font-size: 18px;
    margin: 0;
    padding: 15px;
}

#update-content-commitment-createds .scroll-list-compromises-home,
#update-content-commitment-completeds .scroll-list-compromises-home,
#update-content-commitment-dot-done .scroll-list-compromises-home,
#update-content-commitment-expired .scroll-list-compromises-home {
    height: 300px;
    overflow-y: auto;
}


.f-table-grid{
    table-layout: fixed;
}

.f-table-grid .col-20-table {
    width:20%;
}

.f-table-grid .col-40-table {
    width:40%;
}

.f-table-grid .col-50-table {
    width:50%;
}

.f-table-grid .p-word-wrap-table {
    word-wrap: break-word;
}
