.bg-raiting {
    background-image: url(../../../../img/frontend/website/home/bg-header-admin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    text-align: center;
    position: relative;
    height: auto;
    width: 100%;
    left: 0;
}

    .bg-raiting::before {
    content: ' ';
    background-color: rgba(10,16,33,0.9);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: absolute;
}

.bg-raiting h1{
   margin-bottom:10px;
   color:#ffffff;
}

@media(max-width:991px)  {

    .bg-raiting {
        height: auto;
    }

    .bg-raiting h1{font-size:21px;}
}
  
   

.position-relative {
    position: relative;
}


.btn-plan-active{
    display:inline-block;
    background: rgba(143,255,60,1);
    background: -moz-linear-gradient(top, rgba(143,255,60,1) 0%, rgba(82,144,76,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(143,255,60,1)), color-stop(100%, rgba(82,144,76,1)));
    background: -webkit-linear-gradient(top, rgba(143,255,60,1) 0%, rgba(82,144,76,1) 100%);
    background: -o-linear-gradient(top, rgba(143,255,60,1) 0%, rgba(82,144,76,1) 100%);
    background: -ms-linear-gradient(top, rgba(143,255,60,1) 0%, rgba(82,144,76,1) 100%);
    background: linear-gradient(to bottom, rgba(143,255,60,1) 0%, rgba(82,144,76,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fff3c', endColorstr='#52904c', GradientType=0 );
    color:#ffffff;
    border-radius:15px;
    border:transparent;
    font-weight: 300;
    font-size:14px;
    padding:5px 30px;
    transition:.5s;
}

