

.user-permission-recapmeeting{
    background-color:#ffffff;
    -webkit-box-shadow: 10px 10px 5px -8px rgba(194, 192, 194, 1);
    -moz-box-shadow: 10px 10px 5px -8px rgba(194, 192, 194, 1);
    box-shadow: 10px 10px 5px -8px rgba(194, 192, 194, 1);
    margin:5px;
    padding:15px;
    cursor:pointer;
}

.user-permission-recapmeeting p{
    margin:0;
    text-align:left;
    padding-left:15px;
}

.subtitle-drag{
    padding:0 15px;
    margin:0 5px;
}


.subtitle-drag i:before{
   font-size:36px;
}

@media(max-width: 767px) {
    
    .subtitle-drag{
        padding:0 0;
        margin:0 0;
    }
    
    .subtitle-drag i:before{
        font-size:36px;
        margin-left:0;
     }
}
  

.height-dragdrop{
  height:350px;
}

@media(max-width: 1200px) {  
    .height-dragdrop{
        height:auto;
      }
}


   