body,
html {
  min-height:100%!important;
  overflow-y:auto;
}

.bg-form-blue{
    background-color: rgba(10,16,33,1);
    height: 100vh;
    position: relative;
}

.f-title-green{
    font-size:24px;
    font-weight: 700;
}

.position-relative{
    position:relative;
}

/* #login-box{
    min-width:290px;
    padding:0 2em;
} */


/* @media(max-width: 767px) { 
    #login-box label{color:#ffffff;}
    #login-box input{color:#ffffff;}
  }
 */

.heigth-80{
  height:80vh;
}

@media(max-width: 767px) { 
    .heigth-80{
        height:100vh;
      }
}



.bg-form-figure{
    position:absolute;
    width:100%;
    left:0;
    right:0;
    height:100vh;
}

.input-transparent{
    background-color:transparent;
}

@media(max-width: 767px) { 

    .row-password label{
        color:#ffffff;
    }

    .row-password .input-transparent{
        background-color:transparent;
        color:#ffffff;
    }
    
}

.row-password{
    background-color: rgba(10,16,33,1);
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:2em;
}


