.card-body-team{
    width:25%;
    padding:15px 5px;
}

.card-body-team-viewrol{
    width:50%;
    padding:5px;
}

@media(max-width:992px){ 
    .card-body-team-viewrol{
        width:100%;
    }
}

@media(max-width:1024px){ 
    .card-body-team{
        width:50%;
    }  
}

@media(max-width:767px){ 
    .card-body-team{
        width:100%;
    }  
}
   
.card-team{
    -webkit-box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.31);
    -moz-box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.31);
    box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.31);
    width:100%;
    background-color:#ffffff;
}



.card-team-bgactions,
.card-team-bgactions-viewrol{
    background-image: url("../../../../img/frontend/website/home/bg-header.jpg");
    background-size: cover;
    background-position: center top;
    position: relative;
    padding:1em;
    height:200px;
}

@media(max-width:767px){ 
.card-team-bgactions,
.card-team-bgactions-viewrol{
    height:auto;
}
}

.card-team-bgactions::before,
.card-team-bgactions-viewrol:before{
    content: '';
    background-color: rgba(10,16,33,0.9);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: auto;
    position: absolute;
}

.card-team-bgactions p{
   position:relative;
   margin:0;
   padding:5px;
   font-weight:700;
   font-size:21px;
   text-align:center;
   border-radius:5px;
   color:#21c910;
   overflow: hidden;
   word-wrap: break-word;
}


.card-team-bgactions-viewrol p{
    position:relative;
    margin:0;
    padding:5px;
    font-weight:700;
    font-size:21px;
    border-radius:5px;
    color:#ffffff;
}
    



.card-team-bgactions i:before{
    color: #21c910;
    position: relative;
    padding: 0 5px;
    margin-left: 0;
 }


.card-team-info{
    padding:15px;
    height:270px;
}

.card-height-info{
   height:200px;
   overflow-y:auto;
   overflow-x:hidden;
}

.card-info-rol{
    overflow-y:auto;
    padding:15px;
    height:215px;
}

.card-info-view{
    overflow-y:auto;
    padding:15px;
    height:300px;
}

@media(max-width:1200px){ 
    .card-info-view{
        height:auto;
    }
}    


@media(max-width:1024px){ 
    .card-team-info{
        padding:15px;
        height:280px;
    }
}

.card-team-info p{
  word-wrap: break-word;
}

.card-team-actions{
    background-color: #1e212a;
    display: flex;
    justify-content:center;
    width: 25%;
    padding: 10px;
}

.card-team-actions a i::before{
    color:#ffffff;
}

.card-team-scroll{
    height: 150px;
    overflow-y: auto;
}

.card-img-team{
    width:80px;
    height:80px;
    overflow-y:hidden;
    position:relative;
    display:block;
    margin:0 auto;
}

.card-img-team .thumbnail{
   background-color:transparent;
   border:none;
   margin:0;
}

.flex-cardteam{
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content:flex-start;
}

