.content-login{
    background-color: rgba(10,16,33,1);
    height:100vh;
    position:relative;
}

@media(max-width: 1200px) {  
    .content-login{
        height:auto;
    }      
}

.logo-login-mobile{
    display:block;
    width:200px;
    margin-bottom:6em;
}



.form-color-text label{
    color:#1e212a;
}

@media(max-width: 1200px) {  
    .form-color-text label{
        color:#ffffff;
    }
          
}


.content-out-middle{
    display: table;
    height: 100vh;
    width: 100%;
}

.content-in-middle{
    display: table-cell;
    vertical-align: middle;
}

.padding-form{
    padding:0 8em;
}

@media(min-width: 1920px) {  
    .padding-form{
        padding: 0 20em 0 6em;
    }     
}

@media(max-width: 1200px) {  
    .padding-form{
        padding:0 15px;
    }     
}

@media(max-width: 767px) {  
    .padding-form{
        padding:0 15px;
    }     
}

@media(max-width: 767px) { 
.content-login input{
    color:#ffffff;
}
}

.padding-form-right{
    padding: 0 0 0 13em;
}

@media(max-width: 1200px) { 
    .padding-form-right{
        padding: 0 0 0 4em;
    }
}


.vertical-outmiddle{
    display: table;
	height:100vh;
    width:100%;
}

.vertical-inmiddle{
    display: table-cell;
	vertical-align: middle;
}

body,
html{
    min-height:100%!important;
}

.px-2em{
padding:0 2em;
}
.px-4em{
    padding:0 4em;  
}
.pl-14em{
    padding: 0 0 0 14em; 
}

@media(max-width: 1200px) {  
    .pl-14em{
        padding: 0 2em 0 2em; 
    }
}

.form-color-text label{
    color:#1e212a;
}

.form-color-text p{
    color:#1e212a;
}

.f-d-block{
    display:block;
}

.form-color-text a{
    color:#1e212a;
    font-weight:700;
}

@media(max-width: 1200px) {  
    .form-color-text label{
        color:#ffffff;
    } 

    .form-color-text p{
        color:#ffffff;
    }

    .form-color-text a{
        color:#ffffff;
    }   
} 

.height-100{
    height:100vh;
}

@media(max-width: 767px) {  
    .height-100{
        height:100%;
    }
} 

@media(max-width: 544px) {  
    .height-100{
        height:100vh;
    }
} 


.login-info{
    color:#ffffff;
}

.linea1{
    font-size:36px;
    color:#ffffff;
    font-weight:300;
}

@media(max-width: 767px) {  
    .linea1{
        font-size:21px;
    }

}

.linea2{
    padding-right:150px;
    font-size:36px;
    font-weight:700;
    color:#ffffff;
}

@media(max-width: 1200px) {  
    .linea2{
      padding-right:20px;
      font-size:21px;
   } 
}

@media(max-width: 767px) {  
  .linea2{
    padding-right:0;
    font-size:21px;
}

}


.bg-form-left{
    position:absolute;
    top:0;
    left:0;
    height:100vh;
}

@media(max-width:1200px) {  
    .bg-form-left{
       display:none;
    }
}

.bg-form-right{
    position:absolute;
    top:0;
    right:0;
    height:100%;
}


@media(max-width: 1200px) {  
    .bg-form-right{
       display:none;
    }
}

@media(max-width: 767px) {  
    .info-registro{
        display:none;
    }
    
}

.position-relative{
    position:relative;
}

.px-4em{
    padding:0 4em;
}

.flex-login{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}



.text-blue-dark{
    color:#1e212a;
}

@media(max-width: 767px) {  
    .flex-login{
        justify-content:center;
    }
}


.flex-login .col-50{
  width:50%;
}

@media(max-width: 767px) {  
    .flex-login .col-50{
        width:100%;
      }  
}

.px-6em{
   padding:0 16em 0 6em;
}

@media(min-width: 1920px) {  
    .px-6em{
        padding:0 40em 0 6em;
     }   
}

@media(max-width: 1200px) {  
    .px-6em{
        padding:0 2em;
     }   
}

.col-50-add{
    width:50%;
}

@media(max-width: 1200px) {  
    .col-50-add{
        width:100%;
    }
    
}


@media(max-width:1200px) {  
.register-user label,
.register-user input{
    color:#ffffff;
  }
}


.logo-register{
    display:inline-flex;
    width: 200px;
    margin: 0 0 0 90px;
}

@media(max-width: 767px){
    .logo-register{
        width: 200px;
        display:block;
        margin:25px auto;
    }   
}

.logo-login {
    margin: 0 0 50px 0;
    width: 200px;
}

@media(max-width: 991px){
  .logo-login {
    display:none;
  }
}


@media(max-width: 1200px) {  
    .logo-login-mobile{
        display:block;
        width:200px;
        margin:10px 0;
    }       
}

.input-transparent{
    background-color:transparent;
}

@media(max-width: 1024px) {  
    .input-transparent{
       color:#ffffff;
    }       
}

.padding-inline p{
  padding-right:10px;
}

.pr-5{
    padding-right:5px;
}

.mb-50{
    margin-bottom:50px;
}

.mr-50{
    margin-right:50px;
}

.f-title-login{
    font-weight:700;
    color: #21c910;
    padding:0.5em 0;
}

.f-title-register{
    font-weight:700;
    color: #21c910;
    padding:0.5em 0;
    margin-left:90px;
}


@media(max-width: 768px) {  
    .f-title-login{
       font-size:21px;
       margin-bottom:25px;
    }  
}

.text-list{ 
   width:80%;
   color:#ffffff;
}

@media(max-width: 1280px) {  
    .text-list{ 
        width:60%;
     }
}    


@media(max-width: 767px) {  
    .text-list{ 
        width:100%;
     } 
}    



.icon-list {
    background-color: rgba(10,16,33,1);
    height: 80px;
    width: 80px;
    margin: 10px 20px 10px 0;
    border-radius: 50%;
    line-height: 80px;
    text-align:center;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.17);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.17);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.17);
}




.f-link-blue-terminosconditions{
  color:#1e212a;
  text-decoration:underline;
}

.f-link-blue-terminosconditions:hover,
.f-link-blue-terminosconditions:active,
.f-link-blue-terminosconditions:focus{
    color:#223361;
    text-decoration:underline;
    outline:0;
}

@media(max-width: 1200px) {  
    .f-link-blue-terminosconditions{
        color:#ffffff;
      }      
}

.ml-0{
    color:#21c910;
}

.ml-0::before{
    margin-left:0;
    font-size:24px;
}

.subtitle-login{
    width:80%;
    font-size:21px;
    display:block;
    padding:50px;
    text-align:center;
    color:#ffffff;
}

@media(max-width: 767px) {  
    .subtitle-login{
        margin:25px auto;
    }
}

@media(max-width: 767px) { 
    #login-box label{color:#ffffff;}
    #login-box input{color:#ffffff;}
  }


  /* Maquetación nueva de Registrar usuario */

  .bg-add-user{
      background-color: rgba(10,16,33,1);
      position:relative;
    }

    .bg-add-user .px-4em{
        padding:0 4em;
    } 

    @media(max-width: 1200px) { 

  .bg-add-user .px-4em{
      padding:0 15px;
  }  

}

    .flex-center-add-users{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content:center;
        align-items: center;
        height:100vh;
    }

    @media(max-width: 1200px) { 
        .flex-center-add-users{
            height:auto;
        }
        .row__register{
            flex-wrap:  nowrap;
        }
      }
  
    @media(max-width: 767px) { 
        .flex-center-add-users{
            height:auto;
        }
      }

      .check_policy a{
        color:#1e212a;
     }

     @media(max-width: 1200px) { 
        .check_policy a{
            color:#21c910;
         }
        .col__registerrightpassword label{
            color:#ffffff;
        }
     }
    
      .check_policy label{
        text-align:justify;
     }

   
    
     /* Nueva maquetación del registro */
     
     .bg__register-password{
        background-color: rgba(10,16,33,1);
        position: relative;
        height: 100vh;
        overflow-y: auto;
    }
    @media only screen and (max-width: 480px){
        .bg__register-password{
            height: auto;
        }
    }
    .bg__register{
       background-color: rgba(10,16,33,1);
       position: relative;
       min-height: 100vh;
       overflow-y: auto;
       display: flex;
       align-items: center;
   }
   
    @media(max-width: 767px) {  
        .bg__register{
         height:auto;
      }
      
    }
    .row__register{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
    }
    
    @media(max-width: 1024px) {
        .row__register{
        justify-content:center;
        align-items:center;
        flex-direction:column;
      }    
    }
    
    .row__containerregister{
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction:row;
        flex-wrap:  wrap;
        /* height:100%;
        overflow-y:auto; */
    }

    .row__containerpassword{
        display:flex;
        justify-content:flex-end;
        align-items:center;
        flex-direction:row;
        flex-wrap:  wrap;
        height:100%;
    }
    
  
    
    @media(max-width: 991px) {  
        .row__register{
        flex-direction:column;
        flex-wrap:  wrap;
    }
    
    }
    
    .col__registerleft{
        width:50%;
        position:relative;
        padding:0 4em;
    }
    
    
    @media(max-width: 1440px) {  
        .col__registerright .myb-10{
           margin-bottom:0;
      }
    }
    
    @media(max-width: 1024px) {  
        .col__registerleft{
        display:none;
       }
    }
    
    .col__registerright{
        width:50%;
        padding: 2em 4em;
        position:relative;
        background-color:#ffffff;
        border-radius: 8em 0 0 12em;
        margin:2em 0;
    }

    @media(max-width: 1024px) {  
        .col__registerright{
          width:100%;
          background-color:transparent;
          padding: 2em 2em;
       }
    }
    

    .col__registerrightpassword{
        width:40%;        
        position:relative;
        padding:2em;
    }

    @media(max-width: 1024px) {
        .col__registerrightpassword{
            width:100%;        
            position:relative;
        }

     }

    
    /* @media(max-width: 1024px) {  
        .col__registerright{
          width:80%;
          padding:1em;
        }
    } */
    
    /* @media(max-width: 767px) {  
        .col__registerright{
        width:80%;
        background-color:transparent;
     }
    } */
    
    .logo-register-xs{
       display:none;
    }
    
    @media(max-width: 1024px) {  
        .logo-register-xs{
         display:block;
         width:150px;
    }
}
    
    @media(max-width: 1024px) {    
      .text-blue-dark{
        color:#ffffff;
      } 
    }
    
    @media(max-width: 1024px) {   
      .col__registerright input{
       color:#ffffff;
      }
    }

    .f-title-green{
        font-size:24px;
        font-weight: 700;
    }



      




