*{
    margin:0;
    padding:0;
}

html{
    min-height: 100%;
    position: relative;
}


body{
    font-family: 'Nunito', sans-serif;
    font-size:14px;
    font-weight:400;
    color:#989898;
    margin: 0;
    margin-bottom: 300px;
}

a:hover,a:active,a:focus{
    text-decoration:none;
}

.btn:hover,.btn:active,.btn:focus{
    outline:0;
}
.btn:active:focus{
    outline:0;
}

/* Centrado vertical */

.contentout_verticalmiddle{
    display: table;
    height:100vh; 
    width:100%; 
}

.contentin_verticalmiddle{
    display: table-cell;
	vertical-align: middle;
}

/* Buttons */

.btn-reecapmeeting{
    background: rgba(143,255,60,1);
    background: -moz-linear-gradient(top, rgba(143,255,60,1) 0%, rgba(82,144,76,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(143,255,60,1)), color-stop(100%, rgba(82,144,76,1)));
    background: -webkit-linear-gradient(top, rgba(143,255,60,1) 0%, rgba(82,144,76,1) 100%);
    background: -o-linear-gradient(top, rgba(143,255,60,1) 0%, rgba(82,144,76,1) 100%);
    background: -ms-linear-gradient(top, rgba(143,255,60,1) 0%, rgba(82,144,76,1) 100%);
    background: linear-gradient(to bottom, rgba(143,255,60,1) 0%, rgba(82,144,76,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fff3c', endColorstr='#52904c', GradientType=0 );
    color:#ffffff;
    border-radius:15px;
    border:transparent;
    font-weight: 300;
    font-size:18px;
    padding:10px 30px;
    transition:.5s;
}

.btn-reecapmeeting:hover,
.btn-reecapmeeting:active,
.btn-reecapmeeting:focus{
    background: rgba(0,0,0,0);
    color: #21c910;
    box-shadow: inset 0 0 0 2px #21c910;
    outline:0;
}


.btn-white:hover,:focus,:active{
    outline:0;
}

.margin-btn {
    margin: 20px 0;
}

.btn-reecapmeeting-line{
    background: rgba(0,0,0,0);
    color: #21c910;
    box-shadow: inset 0 0 0 2px #21c910;
    font-weight: 300;
    font-size:18px;
    padding:10px 30px;
    border-radius:15px;
    border:transparent;
    transition:all .3s;
}

.btn-reecapmeeting-line:hover,
.btn-reecapmeeting-line:active,
.btn-reecapmeeting-line:focus{
    background: rgba(143,255,60,1);
    background: -moz-linear-gradient(top, rgba(143,255,60,1) 0%, rgba(82,144,76,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(143,255,60,1)), color-stop(100%, rgba(82,144,76,1)));
    background: -webkit-linear-gradient(top, rgba(143,255,60,1) 0%, rgba(82,144,76,1) 100%);
    background: -o-linear-gradient(top, rgba(143,255,60,1) 0%, rgba(82,144,76,1) 100%);
    background: -ms-linear-gradient(top, rgba(143,255,60,1) 0%, rgba(82,144,76,1) 100%);
    background: linear-gradient(to bottom, rgba(143,255,60,1) 0%, rgba(82,144,76,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fff3c', endColorstr='#52904c', GradientType=0 );
    color:#1e212a; 
    outline:0; 
}


.btn-white{
    background-color:#ffffff;
    color:#1E212A;
    border-radius:15px;
    font-weight: 700;
    transition:.5s;
    border:transparent;
}

.btn-white:hover,
.btn-white:active,
.btn-white:focus{
    background: rgba(143,255,60,1);
    background: -moz-linear-gradient(top, rgba(143,255,60,1) 0%, rgba(82,144,76,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(143,255,60,1)), color-stop(100%, rgba(82,144,76,1)));
    background: -webkit-linear-gradient(top, rgba(143,255,60,1) 0%, rgba(82,144,76,1) 100%);
    background: -o-linear-gradient(top, rgba(143,255,60,1) 0%, rgba(82,144,76,1) 100%);
    background: -ms-linear-gradient(top, rgba(143,255,60,1) 0%, rgba(82,144,76,1) 100%);
    background: linear-gradient(to bottom, rgba(143,255,60,1) 0%, rgba(82,144,76,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fff3c', endColorstr='#52904c', GradientType=0 );
    color:#1e212a;  
    border:transparent;
    outline:0;
}

/* Text colors */

.text-blue-dark {
    color: #1e212a;
}

.text-gray{
    color:#d2d2d2;
}

.text-white{
    color:#ffffff;
}

.text-red{
    color:#e00000;
}


.text-bluedark{
    color:#1E212A;
}



/* Links*/

.f-link-blue {
    color: #1e212a;
    font-weight: 700;
}

.f-link-blue:hover,
.f-link-blue:focus,
.f-link-blue:focus:active,
.f-link-blue:active {
    color: #1e212a;
    outline:0;
}

.f-cursor-pointer{
    cursor:pointer;
}





