/* Header */

.bg-header {
    background-image: url("../../../img/frontend/website/home/bg-header.jpg");
    background-size: cover;
    background-position: center top;
    position: relative;
    color: #ffffff;
}

.my-10 {
    margin-top: 10px;
}

.result-search a {
    color: #21c910;
}

.container-section {
    position: relative;
    overflow:hidden;
}

.text-greenlight {
    color: #21c910;
}

.container-info {
    margin: 50% 0 15% 0;
}

.container-infoheader {
    margin: 0 0 0 10%;
}

.bg-header::before {
    content: '';
    background-color: rgba(10, 16, 33, 0.9);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: auto;
    position: absolute;
}

.bg-header .mockup {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
}

.bg-header p {
    font-size: 36px;
    font-weight: 300;
}

.bg-header h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 50px;
}

.bg-header h2 {
    font-weight: 200;
    margin: 20px 0 50px 0;
}


/* End Header */


/* SECTION#1 */

.subtitle {
    color: #1E212A;
    font-weight: 700;
    font-size: 36px;
}

.font-size-36 {
    font-size: 36px;
}

.font-bold {
    font-weight: bold;
}

.f-blue {
    color: #1e212a;
}

.f-gray {
    color: #b5bdcb;
}

.lineborder-bottom-footer {
    width: 50px;
    height: 2px;
    background-color: #B5BDCB;
    margin-bottom: 15px;
}

.lineborder-bottom {
    width: 50px;
    height: 8px;
    background-color: #E9E9E9;
    margin: 30px 0;
}

.text-two {
    margin: 0 0 30px 0;
}


.circle-bg2 {
    top: 35%;
    position: absolute;
    left: -150px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: linear-gradient(0deg,rgba(82, 144, 76, 0.75) 0,rgba(143,255,60,1) 100%);
}

@media(max-width:1200px) {
    .circle-bg2 {
        left: -75px;
        width: 150px;
        height: 150px;
    }
}

@media(max-width:767px) {
    .circle-bg2 {
      display:none;
    }
}

.circle2-bg2 {
    top: 5%;
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    left: 10%;
    background: linear-gradient(0deg,#eee 0,#ccccccde 100%);
}

@media(max-width:767px) {
    .circle2-bg2 {
       display:none;
    }
}


.circle2-bg2-right{
    top: 35%;
    position: absolute;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    right: -200px;
    background: linear-gradient(0deg,#999 0,#eee 100%);
}

@media(max-width:767px) {
    .circle2-bg2-right{
       display:none;
    }
}



/* END SECTION#1 */


/* SECTION#2 */

.curve-middletop {
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 0;
}

.curve-middlebottom {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.bg3 {
    background-image: url("../../../img/frontend/website/home/patternbg-3.png");
    height: auto;
    position: relative;
}

.bg3::before {
    content: '';
    background-color: rgba(65, 191, 8, 0.8);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: auto;
    position: absolute;
}


/* END SECTION#2 */


/*SECTION#3 */

.mockup-pc {
    width:580px;
    position: absolute;
    right: 0;
    top: 25%;
}

.curve-bottombg3 {
    z-index: 2;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.curve-bottombg2 {
    z-index: 2;
    position: absolute;
    width: 100%;
    bottom: -10%;
}


/* END SECTION#3 */


/*SECTION#4 */

.curve-topbg3 {
    z-index: 2;
    position: absolute;
    width: 100%;
    top: -1%;
    left: 0;
    right: 0;
}

.bg-icons {
    background-image: url("../../../img/frontend/website/home/patternbg-4.png");
    position: relative;
}

.bg-icons::before {
    content: '';
    background-color: rgba(10, 16, 33, 0.9);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: auto;
    position: absolute;
}

.borderbottom-title {
    background-color: #E9E9E9;
    width: 100px;
    height: 8px;
    display: block;
    margin: 2em auto;
}


/* END SECTION#4 */

.bg-icons h1 {
    font-weight: 700;
    line-height: 36px;
}

.bg-icons p {
    color: #ffffff;
}

.NavIcons {
    text-align: center;
    transition: all .3s;
}

.NavIcons ul {
    margin: 4em 0 0 0;
    padding: 0;
}

.NavIcons ul a {
    display: inline-block;
    background-color: rgba(10, 16, 33, 1);
    -webkit-box-shadow: 10px 10px 5px -7px rgba(30, 33, 42, 0.83);
    -moz-box-shadow: 10px 10px 5px -7px rgba(30, 33, 42, 0.83);
    box-shadow: 10px 10px 5px -7px rgba(30, 33, 42, 0.83);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 0 15px;
}

.NavIcons ul a li {
    list-style: none;
}

.NavIcons ul a::before {
    width: 50px;
}

.NavIcons ul a:hover {
    background-color: #21c910;
}

.NavIcons ul a:hover li i:before {
    color: #1E212A;
}

.NavIcons ul a li i:before {
    font-size: 2em;
    margin-left: 0;
    color: #d2d2d2;
    line-height: 100px;
}

@media(max-width:992px) {
    .NavIcons ul a li i:before {
        line-height: 80px;
    }
}

@media(max-width:768px) {
    .NavIcons ul a li i:before {
        line-height: 90px;
    }
}

@media(max-width:767px) {
    .NavIcons ul a li i:before {
        line-height: 80px;
    }
}


.flex-center {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#quieromasinformacion{
    height: initial;
    padding: 14em 0;
}
#quieromasinformacion .flex-center{
    height: initial;
}
.flex-space-around {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.flex-space-between {
    display:flex!important;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items: center;
}

.section-help {
    position: absolute;
    z-index: 3;
    padding: 1em;
    border-radius: 10px;
    background: rgba(246, 246, 246, 1);
    background: -moz-linear-gradient(top, rgba(246, 246, 246, 1) 0%, rgba(246, 246, 246, 1) 20%, rgba(183, 190, 200, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(246, 246, 246, 1)), color-stop(20%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(183, 190, 200, 1)));
    background: -webkit-linear-gradient(top, rgba(246, 246, 246, 1) 0%, rgba(246, 246, 246, 1) 20%, rgba(183, 190, 200, 1) 100%);
    background: -o-linear-gradient(top, rgba(246, 246, 246, 1) 0%, rgba(246, 246, 246, 1) 20%, rgba(183, 190, 200, 1) 100%);
    background: -ms-linear-gradient(top, rgba(246, 246, 246, 1) 0%, rgba(246, 246, 246, 1) 20%, rgba(183, 190, 200, 1) 100%);
    background: linear-gradient(to bottom, rgba(246, 246, 246, 1) 0%, rgba(246, 246, 246, 1) 20%, rgba(183, 190, 200, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#b7bec8', GradientType=0);
    width: 70%;
    left: 15%;
    right: 15%;
    bottom: 10px;
}

@media(max-width:1200px) {
    .section-help {
        bottom: -40px;
    }

}

.section-help .subtitle {
    font-size: 36px;
    color: #1e212a;
    font-weight: 700;
}

@media(max-width:768px) {
    .section-help {
        width: 80%;
        left: 10%;
        right: 10%;
    }
    .section-help .subtitle {
        font-size: 21px;
    }
}

.bg-footer {
    background-image: url("../../../img/frontend/website/home/bg-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: #ffffff;
    position: relative;
}

.bg-footer::before {
    content: '';
    background-color: rgba(10, 16, 33, 0.9);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: auto;
    position: absolute;
}

.bg-footer p {
    font-weight: 300;
    font-size: 24px;
}

.bg-footer h1 {
    font-weight: 700;
}

.bg-footer h2 {
    font-weight: 300;
}

@media(max-width:767px) {
    .bg-footer h3,
    .bg-footer h2 {
        font-size: 21px;
        text-align: center;
    }
}

/* .container-plans {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2em 0 4em 0;
} */

.plans-version-desktop{
    display:block;
}

/* @media(max-width:1024px) {
    .plans-version-desktop{
        display:none;
    }
} */


.plans-version-mobile{
    display:none;
}

/* @media(max-width:1024px) {
  .plans-version-mobile{
    display:block;
  }
} */

.plans-item {
    border-radius: 20px;
    background-color: #ffffff;
    transition: all .3s;
    margin:15px;
}

.plan-enterprise{
  width:200px;
}

.plan-activado:hover .plans-item {
    -webkit-box-shadow: -1px 4px 22px 0px rgba(211, 215, 221, 1);
    -moz-box-shadow: -1px 4px 22px 0px rgba(211, 215, 221, 1);
    box-shadow: -1px 4px 22px 0px rgba(211, 215, 221, 1);
}

.plan-activado:hover .plans-header {
    background-color: #1e212a;
}

.plan-activado:hover .plans-header p {
    color: #ffffff;
}

.plans-header {
    border-radius: 25px 25px 0 0;
    padding: 10px 10px 5px 10px;
    transition: all .3s;
    height:180px;
}

.plans-shadow {
    -webkit-box-shadow: -1px 4px 22px 0px rgba(211, 215, 221, 1);
    -moz-box-shadow: -1px 4px 22px 0px rgba(211, 215, 221, 1);
    box-shadow: -1px 4px 22px 0px rgba(211, 215, 221, 1);
}

.plans-active {
    border-radius: 25px 25px 0 0;
    background-color: #1e212a;
    position: relative;
    height:180px;
}

.tag-diamond{
    width:100px;
    height:20px;
    background-color:#21c910;
    color:#ffffff;
    position:relative;
  }
  
  .tag-diamond::before{
      content: '';
      position:absolute;
      width: 15px; 
      height: 20px; 
      background-color: #21c910;
      left:-12px;
      -webkit-transform: skew(20deg);
      -moz-transform: skew(20deg);
      -ms-transform: skew(20deg);
      -o-transform: skew(20deg);
      transform: skew(20deg);
  }
  
  .tag-diamond::after{
      content: '';
      position:absolute;
      width: 15px; 
      height: 20px; 
      background-color: #21c910;
      right:-12px;
      -webkit-transform: skew(20deg);
      -moz-transform: skew(20deg);
      -ms-transform: skew(20deg);
      -o-transform: skew(20deg);
      transform: skew(20deg);
  }

.plans-active p {
    color: #ffffff;
}


.item-price {
    font-weight: 700;
    color: #1e212a;
    font-size: 2em;
    margin: 0;
}

.item-price-enterprise{
    font-weight: 700;
    color: #1e212a;
    font-size: 21px;
    margin: 0;
}

@media(max-width:1200px) {
    .item-price-enterprise{
        font-size: 18px;
    }
}    

.item-users-plans {
    font-weight: 700;
    color: #21c910;
    margin:0;
}

.f-link-green {
    color: #21c910;
    text-decoration: none;
}

.f-link-green:hover,
.f-link-green:focus,
.f-link-green:active {
    color: #1e212a;
    text-decoration: underline;
    outline: 0;
}


.item-price span {
    font-weight: 200;
    font-size: initial;
}

.item-name {
    font-size:18px;
    color: #21c910;
    font-weight: 700;
    word-wrap: break-word; 
    padding:15px 15px 0 15px;
    margin:0;
    text-transform:uppercase;
    height:100px;
}

.item-time {
    color: #555c6d;
    font-weight: 700;
}

.item-users {
    color: #21c910;
    font-weight: 700;
    margin: 10px 0;
}

.item-users:last-child {
    margin: 15px 0 10px 0;
}

.item-time span:last-child {
    font-weight: 100;
}

.list-optionsplans {
    margin: 0;
    padding: 5% 10%;
}

.list-optionsplans-items{
    padding-top:23%;
} 

@media(max-width:1440px) {
    .list-optionsplans-items{
        padding-top:23%;
    }
}    

@media(max-width:1336px) {
    .list-optionsplans-items{
        padding-top:24%;
    }
}    


.list-optionsplans li {
    border-bottom: 1px solid #d8d8d8;
    color:#989898;
    display: flex;
    flex-direction:row;
    font-size:14px;
    justify-content:space-between;
    line-height:14px;
    list-style: none;
    padding: 10px 0;
}

.list-optionsplans li p {
    margin:0;
    text-align:left;
    height:auto;
}

.list-optionsplans li:last-child {
    border-bottom: none;
}

.list-optionsplans li i:before {
    margin: 0;
    font-size: 14px;
}

.row-functions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.row-functions h3 {
    font-weight: 700;
}

.item-functions {
    width: 50%;
}

.item-functions img {
    height: 100px;
    display: block;
    margin: 0 auto;
}

.content-ittems-hover {
    min-height: 250px;
}

.list-agenda,
.list-chat,
.list-folder,
.list-search,
.list-sharing_archives,
.list-chatting {
    display: none;
    height: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
}

.activate {
    display: block;
    height: auto;
    padding: 20px 0 0 0;
}

.StepByStep {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0;
}

.StepByStep ul {
    padding: 0;
    margin: 0;
}

.StepByStep ul a {
    color: #ffffff;
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    border-bottom: 5px solid #ffffff;
}

.StepByStep ul a:hover {
    color: #1E212A;
    text-decoration: none;
    padding: 10px 30px;
    border-bottom: 5px solid #1E212A;
}

.StepByStep ul a:active {
    color: #1E212A;
    text-decoration: none;
    padding: 10px 30px;
    border-bottom: 5px solid #1E212A;
    outline: 0;
}

.StepByStep ul a li {
    list-style: none;
    line-height: 15px;
}

.StepByStep ul a li i:before {
    margin-left: 35px;
}

.Step2,
.Step3,
.Step4,
.Step5 {
    display: none;
}

.Step1 {
    display: block;
}

.img-step {
    display: block;
    margin: 0 auto;
}

.btn-help {
    margin: 2em 0;
    padding: 5px 40px;
    font-weight: 300;
    font-size: 21px;
}

@media(max-width:1200px) {
    .btn-help {
        margin: 15px 0;
    }
}

@media(max-width:767px) {
    .btn-help {
        padding: 5px 5px;
    }
}

.btn-navregister {
    background: rgba(255, 255, 60, 1);
    background: -moz-linear-gradient(top, rgba(255, 255, 60, 1) 0%, rgba(231, 173, 71, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 60, 1)), color-stop(100%, rgba(231, 173, 71, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 60, 1) 0%, rgba(231, 173, 71, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 60, 1) 0%, rgba(231, 173, 71, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 60, 1) 0%, rgba(231, 173, 71, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 60, 1) 0%, rgba(231, 173, 71, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffff3c', endColorstr='#e7ad47', GradientType=0);
    border: none;
    border-radius: 15px;
    padding: 5px 30px;
    font-weight: 700!important;
    transition: all .3s;
}

.btn-navregister:hover,
.btn-navregister:focus,
.btn-navregister:active {
    background: rgba(0, 0, 0, 0);
    color: #21c910;
    box-shadow: inset 0 0 0 2px #21c910;
    outline: 0;
}

.menu .ul-right li .btn-navregister:hover,
.menu .ul-right li .btn-navregister:focus,
.menu .ul-right li .btn-navregister:active {
    color: #21c910;
}

.menu .ul-left .menu-li-language{
    background: rgba(0, 0, 0, 0);
    color:#ffffff;
}

.menu .ul-left .menu-li-language .menu-dropdown-language{
    background: rgba(10, 16, 33, 0.9);
    color:#ffffff;
    padding:0;
}

.menu .ul-left .menu-li-language .menu-dropdown-language-li{
  display:block;
  padding:0;
  margin:0;
}

.menu .ul-left .menu-li-language .menu-dropdown-language-li .menu-dropdown-language-a:hover,
.menu .ul-left .menu-li-language .menu-dropdown-language-li .menu-dropdown-language-a:active,
.menu .ul-left .menu-li-language .menu-dropdown-language-li .menu-dropdown-language-a:focus{
    background: rgba(11, 22, 55, 0.5);
    color:#ffffff;
}

.margin-top-4em {
    margin-top: 4em;
}

.link-steps.activado {
    color: #1E212A;
    text-decoration: none;
    padding: 10px 30px;
    border-bottom: 5px solid #1E212A;
}

@media(max-width:1920px) {
    .container-infoheader {
        margin: 0 0 0 12%;
    }
}

@media(min-width:1200px) and (max-width:1919px) {
    .container-info {
        margin: 50% 0 15% 10%;
    }
    .container-infoheader {
        margin: 0 0 0 6%;
    }
}

@media(max-width:1024px) {
    .bg-header .mockup {
        height: 90vh
    }
    .container-info {
        margin: 50% 0 15% 15%;
    }
    
    .StepByStep ul a {
        padding: 10px 20px;
    }
}

@media(max-width:992px) {

    .NavIcons ul a{
        width:80px;
        height:80px;
    }

}    

@media(max-width: 780px){
    
    #quieromasinformacion{
        padding: 4em 0;
    }
    .section-help {
        bottom: -35%;
    }
    .footer-recapmeeting .row-footer {
        margin: 9em 0 0 0 !important;
    }
}

@media(max-width:768px) {
    .bg-header .mockup {
        display: none;
    }
    .bg-icons h1 {
        font-size: 24px;
    }
    .bg3 h1 {
        font-size: 24px;
    }
    .container-info {
        margin: 15% 0 1em 15%;
    }
    .NavIcons ul a {
        height: 90px;
        width: 90px;
        margin: 0 5px;
    }
    .StepByStep ul a {
        padding: 10px 5px;
        font-size: 14px;
    }
    .bg-header p {
        font-size: 21px;
    }
    .bg-header h1 {
        font-size: 21px;
    }
    .bg-header h2 {
        font-size: 21px;
    }
    .subtitle {
        font-size: 21px;
    }
    .bg-footer p {
        font-size: 21px;
    }
}

@media(max-width:767px) {
    .container-section h3 {
        font-size: 21px;
    }
    .container-info,
    .container-infoheader {
        margin: 0 0 1em 0;
    }
  
    .NavIcons ul {
        padding: 0;
        margin: 2em 0;
    }
    .NavIcons ul a {
        margin: 10px 5px;
        width:80px;
        height:80px;
    }
    .bg-icons h1 {
        font-size: 21px;
        line-height: 21px;
    }
    .bg-footer h1,
    h2 {
        font-size: 21px;
    }
    .StepByStep {
        margin: 25px 0 50px 0;
    }
    /* .StepByStep ul a:active {
        padding: 10px 5px;
    } */
    .StepByStep ul a {
        display: block;
    }
}

@media(max-width: 480px){
    .footer-recapmeeting .row-footer {
        margin: 8em 0 0 0 !important;
    }
}


@-webkit-keyframes bounceInLeft {
    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }
    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes bounceInLeft {
    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }
    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.slider-plans .slick-slide:focus{
  outline:0; 
}

.slider-plans .slick-prev:before,
.slider-plans .slick-next:before{
    color:#1e212a;
    z-index:10;
}

.slider-plans .slick-next{
    right:-15px;
}

.slider-plans .slick-prev{
    left:-15px;
}
.active-modal-float{
    background: rgba(143,255,60,1);
    background: -moz-linear-gradient(top, rgba(143,255,60,1) 0%, rgba(82,144,76,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(143,255,60,1)), color-stop(100%, rgba(82,144,76,1)));
    background: -webkit-linear-gradient(top, rgba(143,255,60,1) 0%, rgba(82,144,76,1) 100%);
    background: -o-linear-gradient(top, rgba(143,255,60,1) 0%, rgba(82,144,76,1) 100%);
    background: -ms-linear-gradient(top, rgba(143,255,60,1) 0%, rgba(82,144,76,1) 100%);
    background: linear-gradient(to bottom, rgba(143,255,60,1) 0%, rgba(82,144,76,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fff3c', endColorstr='#52904c', GradientType=0 );
    color: #fff;
    bottom: 2%;
    right: 2%;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10000;
    position: fixed;
}
.active-modal-float a{
    width: 100%;
    height: 100%;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-fake {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 20000;
  transition: 0.5s opacity;
  opacity: 0;
}
.modal-fake .modal-fake-content {
  margin: 0 auto;
  width: 650px;
}

.show-modal-fake {
  display: flex;
  opacity: 1;
}


