.btn-navregister{
    background: rgba(255,255,60,1);
    background: -moz-linear-gradient(top, rgba(255,255,60,1) 0%, rgba(231,173,71,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,60,1)), color-stop(100%, rgba(231,173,71,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,60,1) 0%, rgba(231,173,71,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,60,1) 0%, rgba(231,173,71,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,60,1) 0%, rgba(231,173,71,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,60,1) 0%, rgba(231,173,71,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff3c', endColorstr='#e7ad47', GradientType=0 );
    border:none;
    border-radius: 15px;
    padding: 5px 30px;
    font-weight:700!important;
    -webkit-box-shadow: 0px 2px 17px 2px rgba(204,204,204,0.41);
    -moz-box-shadow: 0px 2px 17px 2px rgba(204,204,204,0.41);
    box-shadow: 0px 2px 17px 2px rgba(204,204,204,0.41);
    transition:all .3s;
}

.btn-navregister:hover,
.btn-navregister:active,
.btn-navregister:focus,{
    background: rgba(0,0,0,0);
    color: #21c910;
    box-shadow: inset 0 0 0 2px #21c910;
}

.logotipo{
    display:inline-block;
    max-width:150px;
    height:50px;
}


 /* Nuevo menú */

 .menu{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items: center;
    padding:1em;
    position:fixed;
    background-color:rgba(10, 16, 33, 0.9);
    width:100%;
    z-index:6;
 }

 .menu li {
    display:inline-block;
    padding: 0 10px;
  }


  .menu li a {
    color:#ffffff;
    text-decoration:none;
  }

  .menu ul {
    margin:0;
    z-index:5;
  }

  .menu .ul-right .dropdown  {
    padding-bottom:15px;
 }
 
  .menu .ul-right .dropdown .dropdown-menu {
    right:0;
    left:auto;
    padding:0;
    border-radius:0;
    border:none;
    background-color:#fbfbfb;
 }
 
 .menu .ul-right .dropdown .dropdown-menu li{
    display:block;
    padding:0;
 }
 
 .burguer-button{
     display:none;
 }


@media(max-width:1200px){

    .select-language-mobile{
        display:block;
        position:absolute;
        top:15px;
        right:65px;
        z-index:3;
    }

    .select-language-mobile li{
        list-style:none;
        line-height:40px;
     }

     .select-language-mobile .dropdown .dropdown-menu{
        right:0;
        left:auto;
        padding:0;
        border-radius:0;
        border:none;
        background-color: rgba(10,16,33,0.9);
     }

     .select-language-mobile .dropdown .dropdown-menu li{
       display:block;
     }

     .select-language-mobile .dropdown .dropdown-menu li a{
        padding:10px 20px;
      }

      .select-language-mobile .dropdown .dropdown-menu li a:hover,
      .select-language-mobile .dropdown .dropdown-menu li a:focus,
      .select-language-mobile .dropdown .dropdown-menu li a:active{
        background-color:#1b2233;
      }
     
     

    .select-language-mobile li a{
       color:#b5bdcb;
    }

    .select-language-mobile li a:hover,
    .select-language-mobile li a:focus,
    .select-language-mobile li a:active{
        color:#b5bdcb;
     }
    

    .menu .ul-right .select-languague{
       display:none;
    }

    .burguer-button{
        width:40px;
        height:40px;
        background: rgba(255,255,60,1);
        background: -moz-linear-gradient(top, rgba(255,255,60,1) 0%, rgba(231,173,71,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,60,1)), color-stop(100%, rgba(231,173,71,1)));
        background: -webkit-linear-gradient(top, rgba(255,255,60,1) 0%, rgba(231,173,71,1) 100%);
        background: -o-linear-gradient(top, rgba(255,255,60,1) 0%, rgba(231,173,71,1) 100%);
        background: -ms-linear-gradient(top, rgba(255,255,60,1) 0%, rgba(231,173,71,1) 100%);
        background: linear-gradient(to bottom, rgba(255,255,60,1) 0%, rgba(231,173,71,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff3c', endColorstr='#e7ad47', GradientType=0 );
        border-radius:50%;
        border:none;
        line-height:40px;
        display:inline-block;
        text-align:center;
        position:absolute;
        top:15px;
        right:15px;
        cursor:pointer;
        z-index:3;
        color:#1E212A;
        }

        .burguer-button i:before{
            margin-left:0;
            color:#1e212a;
        }
        
    .menu{
        width:100%;
        display:flex;
        background-color: rgba(10, 16, 33, 1);
        position:absolute;
        top:0;
        left:-100%;
        right:0;
        bottom:0;
        z-index:2;
        align-items:center;
        transition:.3s;
    }

    .menu.activado{
        left:0;
     }

    .menu ul{
       padding:0;
       flex:1;
    }
    
    .menu ul li{
        display:block;
        padding:8px 0;
        margin-left:20px;
     } 
     
     .menu ul li > .btn-nav{
        color:#ffffff;
        padding: 0 0;
    }

    .dropdown-backdrop{
      display:none;
    }

  }








