





.gu-mirror{position:fixed!important;margin:0!important;z-index:9999!important}.gu-hide{display:none!important}.gu-unselectable{-webkit-user-select:none!important;-moz-user-select:none!important;-ms-user-select:none!important;user-select:none!important}.gu-transit{opacity:.2;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";filter:alpha(opacity=20)}.gu-mirror{opacity:.8;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter:alpha(opacity=80)}


/* 
body {

  background: white;

  padding: 20px;

} */



.container {

  border: 2px dotted #ccc;

  border-radius: 5px;

  width: 250px;

  padding: 10px;

  display: inline;

  float: left;

  margin-left: 20px;

}



.container div {

  border: 2px solid #D2D2D2;

  border-radius: 5px;

  margin: 10px;

  width: 200px;

  padding: 10px;

  color: #3d3d3d;

  cursor: move;

}



#right {
    border: 1px solid #eaeaea;
    float: left;
    min-height: 100px;
    overflow: hidden;
    text-align: center;
    max-height: 250px;
    overflow-y: scroll;
}

#left{
    border: 1px solid #eaeaea;
    float: left;
    min-height: 100px;
    overflow: hidden;
    text-align: center;
    max-height: 250px;
    overflow-y: scroll;
  }



