.table .td-actions a i {
    padding: .1rem !important;
}
.mh-50{
  min-height: 50px;
}
.parsley-errors-list .parsley-required{
  color: red !important;
}
.tags-input-content .bootstrap-tagsinput{
  width: 100%;
  min-height: 70px;
}
li.dropdown.notificaciones ul.notificacion-content {
    max-height: 400px;
    right: 0 !important;
    left: auto !important;
    overflow-y: auto;
}
.w-image{
	max-width: 200px;
	max-height: 200px;
}

.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.pagination>li>a {
  background-color: transparent;
  color: #666;
}
.pagination>li>a, .pagination>li>span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #5d5386;
  text-decoration: none;
  background-color: transparent;
  /*border: 1px solid #ddd;*/
}

.div-img-user {
/*    width: 250px;
    height: 300px;*/
    overflow-y: hidden;
    background-color: #1e212a;
    padding: 2em;
        max-width: 300px;
    max-height: 300px;
}
.required:after {
    content: "*";
}

.table-grid-10{
	max-width: 200px;
}

.div-word-wrap, .word-wrap, .td-word-wrap {
    word-wrap: break-word;
}

.select2, .select2>.selection {
    width: 100%!important;
}

.hidden{
  display: none;
}

.user-permission-recapmeeting{
  cursor: pointer;
}

#left,#right{
  float: none;
}

p.text-danger.text-center.errorP {
    display: block;
    width: 100%;
    position: absolute;
    margin-top: 23px;
}

ul.tag-editor{
  height: auto;
}


/*.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
}*/