.bg-header_contacto {
  background-image: url("../../../../img/frontend/website/home/contacto-header.jpg");
  background-size: cover;
  background-position: center top;
  position: relative;
  color: #ffffff;
  padding:2em;
}

.bg-header_contacto::before {
    content: '';
    background-color: rgba(10,16,33,0.9);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: auto;
    position: absolute;
}

.flex-space-between-contact{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items: center;
}

.section-testimonios{
    position:absolute;
    top:50%;
    right:0; 
    bottom:-30%; 
    background-color:#ffffff;
    width:30%;
    height:100%;
    z-index:9;
}
@media(max-width: 780px){
    .content-form-contact {
        padding-right: 0 !important;
    }
}
@media(max-width:767px)  {
    .section-testimonios{
        display:none
    }
}


.section-testimonios .info-testimonio{
    color:#cccccc;
    padding: 4em 0 1em 0;
}

.section-testimonios .date-testimonio{
    color:#1e212a;  
}

.img-empresa-testimonio{
    width:150px;
    display:block;
    margin:0 auto;
}

.card-testimonio{
    padding:2em;
}

.content-form-contact{
    margin:2em 0 4em 0;
    padding-right:25em;
}

.info-header_contacto{
    padding: 0 0 0 12em;
}


@media(max-width:992px)  {
    .info-header_contacto{
        padding: 0 0 0 4em;
    }   
}

@media(max-width:767px)  {
    .info-header_contacto{
        padding: 0 0 0 0;
    }   
}

@media(max-width:767px)  {
    .content-form-contact{
        margin:2em 0 4em 0;
        padding-right:15px;
    }
}

 .btn-testimonios{
    background-color: #1e212a;
    height: 35px;
    width: 35px;
    display: block;
    line-height: 35px;
    text-align: center;
    float:right;
 }

 .btn-testimonios i:before{
    margin-left:0;
    color:#ffffff;
}

.slider-testimonios-contacto{
    position:relative;
}

.flex-center{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    align-items: center;
}
.position-relative{
    position:relative;
}

.f-blue{color: #1e212a;}

.font-bold{font-weight:700;}

.border-input{border-radius:15px;}

.border-input:focus{
    border:1px solid #1e212a;
    outline:0;
    border-color:#1e212a;
    box-shadow:none;  
}

.resize-none {
    resize:none;
}


.title-contacto{
    color:#21c910;
    font-weight:700;
    margin: 1em 0;
}

@media(max-width:767px)  {
    .title-contacto{
        font-size:21px;
    }    
}

.f-white{color: #ffffff;}

@media(max-width:767px)  {
    .py-4{
        padding: 4em 0 4em 0;
    }
}

.circle-bg{
    position: absolute;
    right: 0;
    top: 40px;
    height: 550px;
}

@media(max-width:1200px)  {
    .circle-bg{
        top:100px;
        height: 450px;
    }
}
