.bg-error{
    background-image: url("../../../../img/frontend/website/home/patternbg-3.png");
    position: relative;
}

body{
  margin-bottom: 0!important;
}

.bg-error::before {
    content: '';
    background-color: rgba(242,242,242,0.8);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: auto;
    position: absolute;
}

.info-error{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height:100vh;
    padding:0 2em;
    position: relative;
    text-align:center;  
}

.info-error h1{
    font-weight:700;
    font-size:48px;
}

@media(max-width:1200px)  {
    .info-error h1{
        font-size:21px;
    }
}

.info-error p{font-size:24px;}

@media(max-width:1200px)  {
    .info-error p{font-size:18px;}
}

.figurelefttop{
    position:absolute;
    top:0;
    left:0;
    width:200px;
}

.figurerightmiddle{
    display:block;
    position:absolute;
    top:0;
    right:0;
    height:100vh;
}

@media(max-width:1200px)  {
    
    .figurerightmiddle{
        display:none;
    }
 }
 
.figureleftbottom{
    position:absolute;
    bottom:0;
    left:0;
    width:50px;
}

@media(max-width:1200px)  {
    .figurecenter{
        display:none;
    }
}

@media(min-width:1200px)  {
    .figurecenter{
        display:block;
        position: absolute;
        left: 5%;
        bottom: 0;
        width: 350px;
    }
}

.btn-reecapmeeting{
    background: rgba(143,255,60,1);
    background: -moz-linear-gradient(top, rgba(143,255,60,1) 0%, rgba(82,144,76,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(143,255,60,1)), color-stop(100%, rgba(82,144,76,1)));
    background: -webkit-linear-gradient(top, rgba(143,255,60,1) 0%, rgba(82,144,76,1) 100%);
    background: -o-linear-gradient(top, rgba(143,255,60,1) 0%, rgba(82,144,76,1) 100%);
    background: -ms-linear-gradient(top, rgba(143,255,60,1) 0%, rgba(82,144,76,1) 100%);
    background: linear-gradient(to bottom, rgba(143,255,60,1) 0%, rgba(82,144,76,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fff3c', endColorstr='#52904c', GradientType=0 );
    color:#1e212a;
    border-radius:15px;
    border:transparent;
    font-weight: 300;
    font-size:18px;
    padding:10px 30px;
    transition:.5s;
}

.btn-reecapmeeting:hover,
.btn-reecapmeeting:active,
.btn-reecapmeeting:focus,
.btn-reecapmeeting-user:hover,
.btn-reecapmeeting-user:active,
.btn-reecapmeeting-user:focus{
    background: rgba(0,0,0,0);
    color: #21c910;
    box-shadow: inset 0 0 0 2px #21c910;
    outline:0;
}