
.alert-fail-recapmeeting,
.alert-info-recapmeeting,
.alert-success-recapmeeting{
    position:absolute;
    width:290px;
    right:15px;
    z-index:1019;
    top:85px;
}

.close:focus, .close:hover{
    outline:0;
}

.parsley-errors-list{
    padding:0;
}

.parsley-required{
    color:#B94A48!important;
    list-style:none!important;
}

.parsley-required, .parsley-errors-list, .parsley-errors-list>li{
    color:#B94A48!important;
    list-style:none!important;
}

.error-message{
    color:#B94A48;
}


.sweet-alert h2{
    color: #575757;
    font-size: 18px;
    text-align: center;
    font-weight: 500; 
    text-transform: none;
    position: relative;
    padding: 0;
    line-height: 30px;
    display: block;
}

.confirm{
  background-color:#1e212a!important;
}





