.f-content-search{margin:20px 0 10px 0;}

.f-content-search .input-group .form-control{
    border:1px solid #cccccc;
    box-shadow:none;
    border-radius: 5px 0 0 5px!important;
  }

  .f-content-search .input-group-btn .btn{
    background-color: #ffffff;
    border:1px solid #1e212a;
    box-shadow:none;
    border-radius: 0 5px 5px 0;
    transition:all .5s;
  }

  .f-content-search .input-group-btn .btn span{color: #1e212a;}

  .f-content-search .input-group-btn .btn:hover{
    background-color: #1e212a;
    transition:all .5s;
  }

  .f-content-search .input-group-btn .btn:hover span{
    color:#ffffff;
    transition:all .5s;
  }

  .f-link-search {
    color:#21c910;
    text-decoration:underline;
    font-weight:700;
  }

  .f-link-search:hover,
  .f-link-search:focus,
  .f-link-search:active {
    color:#1e212a;
    text-decoration:underline;
    font-weight:700;
  }
  
  