.btn-circle-icon {
    background-color: #1e212a;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    margin: 0 0 0 10px;
}

.btn-circle-icon i:before {
    color: #ffffff;
    margin: 0;
    font-size: 16px;
    font-weight: 700;
}

.btn-circle-icon:hover,
.btn-circle-icon:focus,
.btn-circle-icon:active:focus,
.btn-circle-icon:active {
    background-color: #091e5d;
}

.btn-icon-xs i:before {
    color: #1e212a;
}


/* botón verde */

.btn-reecapmeeting {
    background: rgba(143, 255, 60, 1);
    background: -moz-linear-gradient(top, rgba(143, 255, 60, 1) 0%, rgba(82, 144, 76, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(143, 255, 60, 1)), color-stop(100%, rgba(82, 144, 76, 1)));
    background: -webkit-linear-gradient(top, rgba(143, 255, 60, 1) 0%, rgba(82, 144, 76, 1) 100%);
    background: -o-linear-gradient(top, rgba(143, 255, 60, 1) 0%, rgba(82, 144, 76, 1) 100%);
    background: -ms-linear-gradient(top, rgba(143, 255, 60, 1) 0%, rgba(82, 144, 76, 1) 100%);
    background: linear-gradient(to bottom, rgba(143, 255, 60, 1) 0%, rgba(82, 144, 76, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#8fff3c', endColorstr='#52904c', GradientType=0);
    color: #ffffff;
    border-radius: 15px;
    border: transparent;
    font-weight: 300;
    font-size: 18px;
    padding: 10px 30px;
    transition: .5s;
}

.btn-reecapmeeting:hover,
.btn-reecapmeeting:active,
.btn-reecapmeeting:focus,
.btn-reecapmeeting-user:hover,
.btn-reecapmeeting-user:active,
.btn-reecapmeeting-user:focus {
    background: rgba(0, 0, 0, 0);
    color: #21c910;
    box-shadow: inset 0 0 0 2px #21c910;
    outline: 0;
}

.resize-none {
    resize: none;
}

.textarea {
    resize: none;
}

.btn-reecapmeeting-user {
    background: rgba(143, 255, 60, 1);
    background: -moz-linear-gradient(top, rgba(143, 255, 60, 1) 0%, rgba(82, 144, 76, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(143, 255, 60, 1)), color-stop(100%, rgba(82, 144, 76, 1)));
    background: -webkit-linear-gradient(top, rgba(143, 255, 60, 1) 0%, rgba(82, 144, 76, 1) 100%);
    background: -o-linear-gradient(top, rgba(143, 255, 60, 1) 0%, rgba(82, 144, 76, 1) 100%);
    background: -ms-linear-gradient(top, rgba(143, 255, 60, 1) 0%, rgba(82, 144, 76, 1) 100%);
    background: linear-gradient(to bottom, rgba(143, 255, 60, 1) 0%, rgba(82, 144, 76, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#8fff3c', endColorstr='#52904c', GradientType=0);
    color: #ffffff;
    border-radius: 15px;
    border: transparent;
    font-weight: 300;
    font-size: 18px;
    padding: 5px 30px;
    transition: .5s;
}

.btn-blue {
    background-color: #1e212a;
    color: #ffffff;
    border-radius: 15px;
    padding: 5px 30px;
}

.btn-blue:hover,
.btn-blue:active,
.btn-blue:focus,
.btn-blue:active:focus {
    background-color: #091e5d;
    color: #ffffff;
    outline: 0;
}

.btn-acta-aprobada {
    border-radius: 15px;
    background-color: #21c910;
    color: #ffffff;
    transition: .5s;
}

.btn-acta-aprobada:hover,
.btn-acta-aprobada:active,
.btn-acta-aprobada:focus {
    background-color: #4dd440;
    color: #ffffff;
    outline: 0;
}

.btn-acta-rechazada {
    border-radius: 15px;
    background-color: #1e212a;
    color: #ffffff;
    transition: .5s;
}

.btn-acta-rechazada:hover,
.btn-acta-rechazada:active,
.btn-acta-rechazada:focus {
    background-color: #091e5d;
    color: #ffffff;
    outline: 0;
}

.btn-acta-rechazada i:before,
.btn-acta-aprobada i:before {
    font-size: 14px;
    color: #ffffff;
}


button.confirm {
    font-weight: 300;
    font-size: 18px;
    transition: .5s;
    background-color: #1e212a;
    color: #ffffff;
    border-radius: 15px;
    padding: 5px 30px;
}

button.confirm:hover {
    background-color: #091e5d !important;
    color: #ffffff;
    outline: 0;
}

button.cancel {
    font-weight: 300;
    font-size: 18px;
    transition: .5s;
    background-color: #c1c1c1;
    color: #ffffff;
    border-radius: 15px;
    padding: 5px 30px;
}

button.cancel:hover {
    background-color: #b9b9b9 !important;
    color: #ffffff;
    outline: 0;
}

@media(max-width: 767px) {   
   .tooltip {
      display:none!important;
   }
}

.btn-meeting{
   height:40px;
   padding:0;
   background-color:#d6d6d6;
   transition: .5s;   
}

.btn-meeting:hover,
.btn-meeting:active,
.btn-meeting:active:focus,
.btn-meeting:focus{
    background-color: #091e5d;
    outline:0;
 }

.btn-meeting img{
    width:35px;
}

.input-height-40{
    height:40px;
}

.line-height-20{
    line-height:26px;
}

.btn-next-step{
    background-color:#1e212a;
    color: #ffffff;
    border-radius: 20px;
    font-weight: 300;
    font-size: 18px;
    padding: 5px 0 5px 10px;
    transition: .5s;
    display:flex;
    flex-direction:row;
    align-items: center;
}

.btn-next-step:hover,
.btn-next-step:active,
.btn-next-step:focus{
    background-color:#091e5d;
    color: #ffffff;
}

.btn-next-step:hover .btn-step-icon {
    background-color: #21c910;
}


.btn-step-icon{
    width: 30px;
    height: 30px;
    line-height:30px;
    background-color: rgba(0, 107, 204, 1);
    border-radius: 50%;
    margin: 0 0.5rem;
    transition:.3s;
}

.btn-next-step i::before{
   margin-left:0;
   font-weight:800;
   font-size:15px;
   color:#ffffff;
}

.addcompromiso{
   white-space: normal; 
}

