.fc .fc-toolbar > * > :first-child {
    margin: 10px;
    font-size:21px;
    font-weight:700;
    color:#1e212a;
}

.fc-toolbar .fc-left{
    float:left;
    margin:10px 10px 0 0;
}

.fc-state-default {
	/*background-color: #ffffff;*/
	background-image: none;
	background-image: none;
	background-image: none;
	background-image: none;
	background-image: none;
	background-repeat: no-repeat;
	border-color: #ffffff #ffffff #ffffff;
	border-color: rgba(255, 255, 255, 1) rgba(255, 255, 255,1) rgba(255, 255, 255,1);
	text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 1), 0 1px 2px rgba(255, 255, 255, 1);
}


.fc-state-default:focus,
.fc-state-default:active,
.fc-state-default:hover{
    outline:0;    
}

.fc button .fc-icon:focus,
.fc button .fc-icon:active,
.fc button .fc-icon:hover,
.fc button .fc-icon:visited,
.fc button .fc-icon:focus-within{
    color:#1e212a; 
    font-weight:700; 
    outline:0; 
}

.fc-event, .fc-event-dot {
	background-color: #1e212a;
	cursor:pointer;
}

.fc-event {
	border: 1px solid #1e212a;
	color:#ffffff;
}


.fc button:focus {
    color: #fff;
    background-color: #1e212a;
    border-color: #1e212a;
}



.fc-ltr .fc-list-heading-main, .fc-list-heading-alt{
	color: #1e212a;
}

.fc-event .fc-content {
    color: #fff;
    position: relative;
    z-index: 2;
    padding: .5rem;
}