/* Card plan */

.card-plan{
    background-color: #ffffff;
    -webkit-box-shadow: 10px 10px 5px -8px rgba(194, 192, 194, 1);
    -moz-box-shadow: 10px 10px 5px -8px rgba(194, 192, 194, 1);
    box-shadow: 10px 10px 5px -8px rgba(194, 192, 194, 1);
    border-radius: 4px;
    position: relative;
    text-align: center;
    margin:40px 40px;
}

.card-plan .card-name{
    color:#21c910;
    font-size:21px;
    font-weight:700;
    height:140px;
    padding:1em 1.5em 0 1.5em;
    text-transform:uppercase;
}



@media(max-width: 1280px) {
    .card-plan .card-name{
        height:170px;
    } 
}   

@media(max-width: 1024px) {
    .card-plan .card-name{
        height:140px;
    } 
}   

@media(max-width: 768px) {
    .card-plan .card-name{
        height:150px;
        padding:0.5em 1em 0 0.5em;        
    } 
}    


.card-plan .card-price{
    color:#1e212a;
    font-weight:700;
    font-size:21px;
    margin:0;
}

.card-plan .card-header{
    border-bottom:1px solid #cccccc;
}

.card-plan .card-users{
    color:#21c910;
    font-size:21px;
}

.card-plan .card-users i:before{
   margin-right:10px;
   margin-left:0;
}


.card-plan .card-info{
    padding:2em;
}

.card-plan .card-info .card-description{
    height:140px;
}

@media(max-width: 767px) { 
    .card-plan .card-info .card-description{
        height:auto;
    } 
}

.card-btn-bottom {
    position: absolute;
    bottom: -15px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}




  /* Slider */

  .card-raiting-employees{
    background-color:#ffffff;
    border-radius:5px;
    position:relative;
    text-align:center;
    margin:40px 40px 40px 40px;
 }

 .card-raiting-employees .card-img{
    padding:2em 0;
    border-bottom:1px solid #cccccc;
 }

 .card-raiting-employees p{
    font-size:36px;
    font-weight:bold;
 }

 .card-raiting-employees h4{
    margin:0;
    padding:15px;
    min-height:100px;    
 }

 .card-raiting-employees .card-info{
    padding:4em;
 }

 .card-raiting-employees .card-text{
    color:#1e212a;
    font-weight:700;
    font-size:21px;
 }

 .card-raiting-employees .card-number{
    color:#21c910;
    font-size:48px;
    font-weight:700;
 }

 .card-raiting-employees .card-btn{
    position:absolute;
    bottom:-15px;
    margin-left:auto;
    margin-right:auto;
    left:0;
    right:0;
 }



 /* Card plan  diamond* Index-page */

.card-plan-diamond{
    background-color: #ffffff;
    -webkit-box-shadow: 10px 10px 5px -8px rgba(194, 192, 194, 1);
    -moz-box-shadow: 10px 10px 5px -8px rgba(194, 192, 194, 1);
    box-shadow: 10px 10px 5px -8px rgba(194, 192, 194, 1);
    border-radius: 4px;
    position: relative;
    text-align: center;
    margin:40px 40px 40px 40px;
}

.tag-diamond{
  width:100px;
  height:20px;
  background-color:#21c910;
  color:#ffffff;
  position:relative;
}

.tag-diamond::before{
    content: '';
    position:absolute;
    width: 15px; 
    height: 20px; 
    background-color: #21c910;
    left:-12px;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(20deg);
}

.tag-diamond::after{
    content: '';
    position:absolute;
    width: 15px; 
    height: 20px; 
    background-color: #21c910;
    right:-12px;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(20deg);
}

.card-plan-diamond .card-header{
    background-color: #1e212a;
    border-radius:4px 4px 0 0;
    position:relative;
}

.card-plan-diamond .card-name{
    color:#21c910;
    font-size:21px;
    font-weight:700;
    height:120px;
    padding:1em 1.5em 0 1.5em;
    text-transform:uppercase;
}

@media(max-width: 1280px) {
    .card-plan-diamond .card-name{
        height:150px;
    }    
}  

@media(max-width: 1024px) {
    .card-plan-diamond .card-name{
        height:120px;
    }    
}  

@media(max-width: 768px) {
    .card-plan-diamond .card-name{
        height:130px;
        padding:0.5em 1em 0 1em;        
    }    
}    

.card-plan-diamond .card-price{
    color:#ffffff;
    font-weight:700;
    font-size:21px;
    margin:0;
}

.card-plan-diamond .card-info{
    padding:2em;
}

.card-plan-diamond .card-description{
    height:140px;
}

@media(max-width: 767px) { 
    .card-plan-diamond .card-description{
        height:auto;
    }  
}    

.card-plan-diamond .card-users{
    color:#21c910;
    font-size:21px;
}

.card-plan-diamond .card-users i:before{
    margin-right:10px;
    margin-left:0;
}

