.squaredFour {
    position: relative;
  }
  .squaredFour label {
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    height: 20px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 21px;
  }
  .squaredFour label:after {
    background: transparent;
    border-right: none !important;
    border-top: none !important;
    border: 3px solid #333;
    bottom: 0;
    content: '';
    height: 7px;
    left: 0;
    margin: auto;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(-45deg);
    width: 12px;
  }
  .squaredFour label:hover:after {
    opacity: 0.5;
  }
  .squaredFour input[type=checkbox] {
    visibility: hidden;
  }
  .squaredFour input[type=checkbox]:checked + label:after {
    opacity: 1;
  }

 