.f-blue{color: #1e212a;}

.f-white{color: #ffffff;}

.text-greenlight{color:#21c910;}

.bg-white{background-color:#ffffff;}

.bg-blue{background-color: rgba(10,16,33,1);}


.bg-gray{background-color: #f2f2f2;}

.bg-box-shadow{
    -webkit-box-shadow: -1px 0px 5px 1px rgba(0,0,0,0.25);
    -moz-box-shadow: -1px 0px 5px 1px rgba(0,0,0,0.25);
    box-shadow: -1px 0px 5px 1px rgba(0,0,0,0.25);
}