.grid-form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
	align-items:flex-start;
	padding-top:2em;
    max-height:650px;
    margin-top:2em;
}

.grid-form-edit-project{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
	align-items:flex-start;
	padding-top:2em;
    /* max-height:650px; */
    overflow-y:auto;
    margin-top:2em;
}


@media(max-width: 767px) { 
    .grid-form-edit-project{
        height:auto;
    }
}

.grid-form-edit{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
	align-items:flex-start;
	padding-top:2em;
    max-height:auto;
    margin-top:2em;
}

@media(max-width: 991px) {  
     .grid-form{
        max-height: 100%;
        padding-top:0;
        margin-top:0;
    }
}

.text-buyplan{
    font-size: 21px;
    width: 80%;
    color: #1e212a;
    font-weight: 700;
    line-height: 24px;
    text-align:center;
}

.col-50-textbuyplan{
    width:50%;
}

@media(max-width: 767px) {  
    .col-50-textbuyplan{
        width:100%;
    }
}



.col-form-img{
   position:relative;
   width:50%;
   height:650px;
   background-size: cover;
   background-position: center top;
}

.col-form-img-addposition{
    position:relative;
    width:100%;
    height:350px;
    background-size: cover;
    background-position: center top;
}

@media(max-width: 767px) {  
    .col-form-img-addposition{
        height:auto;
    }
}


.col-form-imgaddposition-info{
    position:relative;
    padding:2em;    
}

@media(max-width: 992px) {  
    .col-form-imgaddposition-info{
        padding:1em;    
    }
}

.col-form-imgaddposition-info .flex-justify-end i:before{
    color:#21c910; 
    font-size:4em;   
}

.col-form-imgaddposition-info p{
    color:#ffffff;
    font-weight:700;
    font-size:2em;
}

@media(max-width: 767px) {  
    .col-form-imgaddposition-info p{
        font-size:21px;
    }

    .col-form-imgaddposition-info .flex-justify-end i:before{
        font-size:2em;   
    }
}





.col-form-img::before,
.col-form-img-addposition::before{
    content: '';
    background-color: rgba(10,16,33,0.9);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: auto;
    position: absolute;
 }

.col-form-img-addclient{
    background-image: url("../../../../img/frontend/website/home/adicionar-cliente.jpg");  
}

.col-form-img-addproject{
    background-image: url("../../../../img/frontend/website/home/adicionar-proyecto.jpg");    
}

.col-form-img-addemployees{
    background-image: url("../../../../img/frontend/website/home/adicionar-asistente-externo.jpg");      
}

.col-form-img-addfuncionario{
    background-image: url("../../../../img/frontend/website/home/adicionar_funcionario.jpg");          
}




@media(max-width: 767px) {  
    .col-form-img{width:100%;}
}

@media(max-width: 992px) {  
    .col-form-img{display:none;}
}


.col-form-img:before{
    content:' ';
    position:absolute;
    background-color: rgba(10,16,33,0.9);
    width:100%;
    height:650px;
 }


.col-form-input{
    width:50%;
    height:650px;
    padding:2em;
    background-color:#ffffff;
    -webkit-box-shadow: 10px 10px 5px -8px rgba(194, 192, 194, 1);
    -moz-box-shadow: 10px 10px 5px -8px rgba(194, 192, 194, 1);
    box-shadow: 10px 10px 5px -8px rgba(194, 192, 194, 1);"
}

.col-form-input-addproject{
    width:50%;
    height:650px;
    overflow-y:auto;
    padding:2em;
    background-color:#ffffff;
    -webkit-box-shadow: 10px 10px 5px -8px rgba(194, 192, 194, 1);
    -moz-box-shadow: 10px 10px 5px -8px rgba(194, 192, 194, 1);
    box-shadow: 10px 10px 5px -8px rgba(194, 192, 194, 1);
}

@media(max-width: 992px) {  
    .col-form-input{ width:100%;}
    .col-form-input-addproject{ 
        width:100%;
        height:auto;
    }
}


.bg-form{
    background-color: #ffffff;
    /* -webkit-box-shadow: 10px 10px 5px -8px rgba(194, 192, 194, 1);
    -moz-box-shadow: 10px 10px 5px -8px rgba(194, 192, 194, 1);
    box-shadow: 10px 10px 5px -8px rgba(194, 192, 194, 1); */
    padding: 2em;
}

/* Editar perfil Image user */

.div-img-user{
    width:250px;
    height: 300px;
    overflow-y: hidden;    
    background-color: #1e212a;
    padding:2em;
}
@media(max-width: 780px){

    .div-img-user--mod{
        width: initial;
        height: initial;
    }

    .div-img-user--mod .thumbnail{
        margin-bottom: 0;
    }
}

.img-client-upload{
    width:100%;
    height:200px;
    overflow-y:hidden;
    overflow-x:hidden;
}


.img-user-upload{
    width:250px;
    margin:15px 0;
}

@media(max-width: 780px){

    .img-user-upload--mod{
        width: initial;
    }
}


.row-input-flex-start{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
	align-items:flex-start;
}

.border-input{border-radius:15px;}

.border-input:focus{
    border:1px solid #1e212a;
    outline:0;
    border-color:#1e212a;
    box-shadow:none;  
}


/* Header de las cajas */

.head-table{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items: center;
    background-color:#e6e6e6;

}

.head-title{
margin:0;
padding:1em 0 1em 1em;
font-size:18px;
}

.height-scroll-modal{
    height:350px;
    overflow-y:auto;
}

.height-scroll-modal-400{
    height:400px;
    overflow-y:auto;
    overflow-x:hidden;
}

.height-scroll{
    height:150px;
    overflow-y:auto;
 }

 .btn-cuadrado{
    background-color:#1e212a;
    color:#ffffff;
    outline:0;
    border-radius:0;
 }

 .btn-cuadrado:hover,
 .btn-cuadrado:active,
 .btn-cuadrado:focus,
 .btn-cuadrado:active:focus{
     background-color:#1e212a;
     color:#ffffff;
     outline:0;
 }
 

 .checkkbox-label label{
   font-weight:700;
   color:#1e212a;
 }


