*{
 word-wrap: break-word;  
}

.flex{
	display: flex;
}

.flex-auto{
	flex: auto;
}

.flex-v-center{
	align-items: center;
}

.flex-h-center{
	justify-content: center;
}
.flex-row{
	flex-direction: row;
}

.flex-column{
	flex-direction: column;
}

.col-50{width:50%;}

@media(max-width: 1024px) {  
    .col-50{width:100%;}
}

.col-60{width:60%;}

.col-40{width:40%;}

@media(max-width: 767px) {  
    .col-40{width:100%;}
    .col-60{
        width:100%;
        margin-top:15px;
    }
}

.col-25{width:25%;}

.col-10{width:10%;}

@media(max-width: 767px) {  
    .col-25{width:100%;}
    .col-10{width:100%;}
}

.col-65{width:65%;}

@media(max-width: 767px) {  
    .col-65{width:100%;}
}

.col-30{
    width:30%;
}

@media(max-width: 767px) {  
    .col-30{width:100%;}
}

.col-70{
    width:70%;
}

@media(max-width: 767px) {  
    .col-70{width:100%;}
}


.col-100{
    width:100%;
}

.flex-space-between{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items: center;
}

.flex-space-between-start{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items: flex-start;
}


.flex-space-around{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items: center;
}

.flex-space-around-btns{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items: center;
}

@media(max-width:767px)  {
    .flex-space-around-btns{
        flex-direction:column;
    }
}


.flex-start{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}


.flex-center{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    align-items: center;
}

.flex-justify-end{
   display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

/* Editar reunión */

.flex-inviteds{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.flex-inviteds .col-90{
    width:90%;
}

.flex-inviteds .col-10{
    width:10%;
}


.display-inline-block{
    display:inline-block;
}
