.mt-2em{margin-top:2em;}

.my-10{
    margin-top:10px;
}

.mt-20{
   margin-top:20px;
}

.mb-10{
    margin-top:20px;
}

.mxy-10{
    margin-top:10px;
    margin-bottom:10px;
}

.myb-10{
    margin-bottom:10px;
}

.myb-0{
    margin-bottom:0;
}

.mxy-0{
  margin:0;
}

.margin-0-icons:before{
    margin: 0;
}


.mxy-4{margin:4em 0;}

@media(max-width:767px)  {
    .mxy-4{margin:1em 0 4em 0;}
}


