.text-warning{color:#FF1400}

.modal-recapmeeting .modal-content{
    border-radius:0;
}

.modal-recapmeeting .modal-title{
    text-align: center;
    color:#ffffff;
    padding:15px;
}

.modal-recapmeeting .modal-header{
    background-color: #1e212a;
    border-bottom: none;
    padding:0;
}

.modal-recapmeeting .modal-header::before{
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    right: 0;
    border-top: 40px solid #ffffff;
    border-left: 40px solid transparent;
    border-bottom: 40px solid transparent;

}

.modal-recapmeeting .modal-header .close{
    margin-right: 5px;
    margin-top: 5px;
    font-size:18px;
}

.modal-recapmeeting .modal-footer{
    text-align: center;
    border-top: none;
    padding:30px 15px;
}

.btn-modal-recapmeeting{
    position:relative;
    background: rgba(143,255,60,1);
    background: -moz-linear-gradient(top, rgba(143,255,60,1) 0%, rgba(82,144,76,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(143,255,60,1)), color-stop(100%, rgba(82,144,76,1)));
    background: -webkit-linear-gradient(top, rgba(143,255,60,1) 0%, rgba(82,144,76,1) 100%);
    background: -o-linear-gradient(top, rgba(143,255,60,1) 0%, rgba(82,144,76,1) 100%);
    background: -ms-linear-gradient(top, rgba(143,255,60,1) 0%, rgba(82,144,76,1) 100%);
    background: linear-gradient(to bottom, rgba(143,255,60,1) 0%, rgba(82,144,76,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fff3c', endColorstr='#52904c', GradientType=0 );
    color:#1e212a;
    border-radius:15px;
    border:transparent;
    font-weight: 300;
    padding:5px 30px;
    transition:.5s;
}


.btn-sincronizar div{
   margin:0 10px;
}

.content-modal-accept_privacity{
    position:fixed;
    right:0;
    bottom:0;
    z-index:5;
}

.modal-accept_privacity {
    background-color:#ffffff;
    -webkit-box-shadow: -1px 0px 5px 1px rgba(0,0,0,0.25);
    -moz-box-shadow: -1px 0px 5px 1px rgba(0,0,0,0.25);
    box-shadow: -1px 0px 5px 1px rgba(0,0,0,0.25);
    padding:10px;
}

.modal-accept_privacity p{
    color:#1e212a;
    margin:0;
}

.modal-accept_privacity .modal-body{
    border:1px solid #1e212a;
    border-radius:5px; 
    padding:10px;
}

.modal-accept_privacity .btn-modal-accept_privacity{
    background-color: #1e212a;
    border: none;
    padding: 10px 15px;
    margin: 10px;
    color: #ffffff;
    transition:.5s; 
}

@media(max-width: 1200px) {
    .modal-accept_privacity .btn-modal-accept_privacity{
        margin: 10px 0 0 0;
    }    
}

.modal-accept_privacity .btn-modal-accept_privacity:hover,
.modal-accept_privacity .btn-modal-accept_privacitys:focus,
.modal-accept_privacity .btn-modal-accept_privacity:active {  
   background-color:#091e5d;
   outline:0;
}

.modal-accept_privacity .btn-modal-accept_privacity i:before{
    color: #21c910;
    margin-left: 5px;
    font-size:14px;
}


.f-link-privacity{
    color:#1e212a;
    text-decoration:underline;
    font-weight:700;
}

.f-link-privacity:hover,
.f-link-privacity:focus,
.f-link-privacity:active{
    color:#1e212a;
    text-decoration:underline;
    font-weight:700;
}


