
.padding-left-15{padding:0 15px 0 0;}
.padding-right-15{padding:0 0 0 15px;}
.padding-right-15-view{padding:0 0 0 15px;}

@media(max-width: 1024px) {  
    .padding-right-15{padding:0 0 0 0;}
    .padding-left-15{padding:0 0 0 0;}
}

.paddingxy-2em{padding:2em;}

.py-10{padding:10px 0;}

.pxy-15{
   padding:15px 0;
}

.footer-modal-btn .padding-left-15{
    padding:0 15px 0 0;
}

.footer-modal-btn .padding-right-15{
    padding:0 0 0 15px;
}

.padding-left-15-mobile{
    padding-left:15px;
}

.ptb-15{
  padding-top:15px;
  padding-bottom:15px;
}