.f-paginationrecapmeeting{
    display: block;
    float: right;
    margin: 0 0;
    line-height:50px;
}

.pagination-result{
    line-height:50px;
    margin:0;
}

.f-paginationrecapmeeting>li>a, .f-paginationrecapmeeting>li>span { 
    color:#aaaaaa;
    border: none; 
    box-shadow:none;
    padding: 0 0 0 15px;
    line-height: 50px;
}


.f-paginationrecapmeeting>li>a:hover,
.f-paginationrecapmeeting>li>a:focus{ 
    color:#1e212a;
    background-color:transparent;
    
}

.f-paginationrecapmeeting>.disabled>a, .f-paginationrecapmeeting>.disabled>a:focus, .f-paginationrecapmeeting>.disabled>a:hover, .f-paginationrecapmeeting>.disabled>span, .f-paginationrecapmeeting>.disabled>span:focus, .f-paginationrecapmeeting>.disabled>span:hover {
    color:#aaaaaa;
}

.f-paginationrecapmeeting>.currentClass>a{
    text-decoration-line: #000000;
}


.div-pagination{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    padding: 5px 2em;
    align-items: center;
}

.table-pagination{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    padding: 5px;
    align-items: center;
}