::-webkit-scrollbar {
    background-color: #f9f9f9;
    width: 6px;
    height:6px;
   }
   
   ::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    transition: all .3s ease-out;
   }
   ::-webkit-scrollbar-thumb:window-inactive {
    background-color: #d8d8d8;
   }





   