.slider-items .slick-slide:focus,
.slider-raiting-employes .slick-slide:focus,
.slider-step-actions .slick-slide:focus{
  outline:0; 
}


.slider-items .slick-dots li,
.slider-raiting-employes .slick-dots li {
    width: 26px;
    height: 26px;  
}

.slider-items .slick-dots li button,
.slider-raiting-employes .slick-dots li button {
    font-size:0;
    line-height:0;
    width: 26px;
    height: 26px;
}

.slider-items .slick-dots li button:before,
.slider-raiting-employes .slick-dots li button:before{
    font-size: 26px;
    line-height:26px;
    width: 26px;
    height: 26px;
}

.slider-items .slick-dots li.slick-active button,
.slider-raiting-employes .slick-dots li.slick-active button {
    opacity: .75;
    color: black;
    border:1px solid #cccccc;
    border-radius:50%;
}

