.nav-step-ul-circle{
   padding:0;
   margin:0;
   display:flex;
   flex-direction:column;
   justify-content:flex-start;
   align-items:center;
   font-size:2rem;
}


.nav-step-circle .nav-step-ul-circle li {
   display:inline-block;
   list-style:none;
   padding:0 1rem;
   color:#1E2140;
 }



.nav-step-circle .nav-step-ul-circle li .nav-step-a{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 3px 6px rgba(255,255,255,.17), 0 3px 6px rgba(113,100,100,.17);
    -webkit-box-shadow: 0 3px 6px rgba(255,255,255,.17), 0 3px 6px rgba(113,100,100,.17);
    transition: all .3s cubic-bezier(.25,.8,.25,1);
    display: block;
    margin:15px auto;
    line-height: 60px;
    text-align: center;
    position:relative;
}



/* activado */
.nav-step-ul-circle>li.active>.nav-step-a{
    background-color: #1e212a;
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    -moz-box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22);    
}

/* completed */
.nav-step-ul-circle>li.completed>.nav-step-a{
    background-color: #21c910;
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    -moz-box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22);    
}


.nav-step-circle .nav-step-ul-circle li .nav-step-a i::before{
   font-size:3rem;
   margin-left:0;
   color: #bdb5b5;
   font-weight:500;
}


/* activado */
.nav-step-circle .nav-step-ul-circle>li.active>.nav-step-a i::before {  
    color:#ffffff;
}

/* completed */
.nav-step-circle .nav-step-ul-circle>li.completed>.nav-step-a i::before {  
    color:#ffffff;
}

/* activado */
.nav-step-circle .nav-step-ul-circle>li.active>.nav-step-name .nav-step-number {  
    background-color:#006BCC;
}

/* completed */
.nav-step-circle .nav-step-ul-circle>li.completed>.nav-step-name .nav-step-number {  
    background-color: #21c910;
}


.nav-step-circle .nav-step-ul-circle li .nav-step-name{
    border: 1px solid #bdb5b5;
    color: #bdb5b5;
    border-radius: 15px;
    padding: 0.5rem;
    font-size: 14px;
    height:30px;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;
}


/* activado */
.nav-step-circle .nav-step-ul-circle>li.active>.nav-step-name  {  
   border: 1px solid #006BCC;
   color: #006BCC;
}

/* completed */
.nav-step-circle .nav-step-ul-circle>li.completed>.nav-step-name  {  
    border: 1px solid #21c910;
    color: #21c910;
 }

.nav-step-circle .nav-step-ul-circle li .nav-step-name .nav-step-number{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #bdb5b5;
    text-align: center;
    color: #ffffff;
    margin-right: 5px;
    font-weight: 800;
}

.side-step{
    width:20%;
}

@media(max-width: 1024px) {  
    .side-step{
        width:25%;
    }
}

@media(max-width: 992px) {  
    
}

.col-form-step-not{
    width:100%;
}

.col-form-step{
    width:80%;
}

@media(max-width: 1024px) {  
    .col-form-step{
        width:75%;
    }
}

@media(max-width: 992px) {  
    .col-form-step{
        width:100%;
    }
}



.btn-step-help{
    position:fixed;
    background-color:#1e212a;
    height:100px;
    width:100px;
}

.btn-step-help i::before{
   color:#ffffff;
}

.nav-step-circle-mobile{
    display:none;
}




@media(max-width: 992px) { 
    
.nav-step-circle-mobile{
    display:block;
}

    .btn-nav-step-circle{
        width: 40px;
        height: 40px;
        border:1px solid transparent;
        background-color: #21c910;
        box-shadow: 0 3px 6px rgba(255,255,255,.17), 0 3px 6px rgba(113,100,100,.17);
        -webkit-box-shadow: 0 3px 6px rgba(255,255,255,.17), 0 3px 6px rgba(113,100,100,.17);
        line-height: 40px;
        text-align: center;
        position: absolute;
        top: 0;
        left:0;
    }

    .btn-nav-step-circle:hover,
    .btn-nav-step-circle:focus,
    .btn-nav-step-circle:active{
       outline:0;
    }

    .btn-nav-step-circle i::before{
        color:#ffffff;
        margin-left:0;
    }
}

/* Menú */

.container-navstep-mobile{
    display:none;
}


@media(max-width: 992px) { 
.container-navstep-mobile{
    width: 320px;
    display: block;
    background-color: rgba(255,255,255,0.9);
    box-shadow: 0 3px 6px rgba(255,255,255,.17), 0 3px 6px rgba(113,100,100,.17);
    -webkit-box-shadow: 0 3px 6px rgba(255,255,255,.17), 0 3px 6px rgba(113,100,100,.17);
    position:absolute;
    top:40px;
    color: #ffffff;
    height: 100%;
    overflow-y: auto;
    left: -100%;
    z-index: 5;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: .3s;
    transition: .3s;
}

.container-navstep-mobile.show{
   left:0;
}

}

.btn-help-step{
    background-color: #1e212a;
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    -moz-box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #ffffff;
    display: block;
    text-align: center;
    z-index:5;
}

.btn-help-step i:before{
    margin-left:0;
    color: #ffffff;
}

.nav-info-step{
    display: none;
    position: absolute;
    bottom: 0;
    right: 50px;
    height: 50px;
    line-height: 50px;
    z-index: 1000;
    float: left;
    min-width: 160px;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.nav-info-step a{
    display: block;
    clear: both;
    white-space: nowrap;
    padding: 0 0.5rem;
    color: #1e212a;
}


.nav-info-step.show{
   display:block;
}


.container-btn-help{
    position:fixed;
    bottom:20px;
    right:20px;
    z-index:5;
}

.container-btn-help .container-btn-help-pointer{
    position:absolute;
    top:0;
    right:0;
    width:15px;
    height:15px;
    border-radius:50%;
    background-color:#21c910;
    -moz-animation-iteration-count: infinite; 
    -o-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-name: fadein;
}

@keyframes fadein {
    from {
        opacity: 0.5;
        background-color:#19970c;
    }
  
    to {
        opacity: 1;
        background-color:#21c910;
    }
  }

  @media(max-width: 992px) { 

  .container-navstep-web{
      display:none;
  }

}