.table-view{
    border: 1px solid #1e212a;
    width: 100%;
}

.table-view td{
    border: 1px solid #1e212a;
    padding: .5em;
}

.cell-125{
    width: 125px;
}
.section-table{
    margin-top:2em;
    /* padding: 2em; */
    background-color: #ffffff;
}

.table-number{
    background-color:#eaeaea;
    padding:0 5px;
}

.f-table-recapmeeting{border:1px solid #ddd;}

.f-table-recapmeeting thead{background-color: #eaeaea;}

.f-table-recapmeeting thead tr th{
    vertical-align: middle;
    padding: 20px 10px;
}

.f-table-recapmeeting thead tr th a{
    color: #1e212a;
}


.f-table-recapmeeting th{
    font-weight: 700;
    color: #1e212a;
}

.f-table-recapmeeting .td-actions a i {color: #1e212a;}

.f-table-recapmeeting .td-actions a i:before {margin-left: 0;}

.f-table-recapmeeting tbody tr td a {color: #1e212a;}

.f-table-recapmeeting  tbody tr td {vertical-align:top;}

.table-icon-empty{
    display: block;
    margin: 10px auto;
    color:#21c910;
}

.table-icon-empty:before{margin-left:0;}

.table-icon:before{margin-left:0;}

.content-img-table{
    width:100px;
    height:100px;
    overflow-y:hidden;
}

.table-acta{
    table-layout: fixed;
}

.hijos-header td{
    border: 1px solid #1e212a;
    text-align: center;
    padding: 1em 0;
    background-color: #e3e2e2;
    color: #1e212a;
}

@media(max-width: 767px) {  
    .table-acta .width-30{
        width:100%;
    }

    .table-acta{
        table-layout: auto;
        width: 100%;   
    }
}

.table-acta .width-70{
    width:70%;
}

@media(max-width: 767px) {  
    .table-acta .width-70{
        width:10%;
    }
}


.table-acta .width-100{
    width:100%;
}

/* Para las tablas */

.f-table-grid-layout-fixed{
    table-layout: fixed;
}
.box-special{

    overflow: auto;
     

}
.table-special{
    width: 1500px;
}



@media(max-width: 767px) {  
    .f-table-grid-layout-fixed{
        table-layout: auto;
        width: 100%;   
    }
} 



.table-grid-5{
    width:5%;
}

.table-grid-10{
    width:10%;
}

.table-grid-15{
    width:15%;
}

.table-grid-20{
    width:20%;
}

.table-grid-30{
    width:30%;
}

.table-grid-20{
    width:20%;
}

.table-grid-30-compromises{
    width:30%;
    vertical-align:middle;
}


.table-grid-20-compromises{
    width:20%;
    vertical-align:middle;
}

.content-date-compromises,
.content-users-compromises{
    width:180px;
}



@media (max-width:1336px) {
    .content-date-compromises,
    .content-users-compromises{
        width:180px;
    }    
}

@media (max-width:1024px) {
    .content-date-compromises,
    .content-users-compromises{
        width:150px;
    }    
}

@media (max-width:767px) {
    .content-date-compromises,
    .content-users-compromises{
        width:150px;
    }    
}

.content-description-compromises{
    width:250px;
}
.hijos .content-description-compromises{
    padding: 2em 0;
}
.table-compromise{
    margin-top: 2em;
}
.table-compromise th{
    border: 1px solid #1e212a;
    color: #1e212a;
    padding: 1em 0;
    background-color: #eaeaea;
}
#nuevoCompromiso td{
    border: 1px solid #1e212a;
}
#commitments td{
    border: 1px solid #1e212a;
}
#commitments .content-description-compromises{
    margin-top: 1em;
}
#commitments .f-btn-delete{
    display: block;
    margin-left: auto;
    margin-top: 1em;
    margin-bottom: .5em;
}
@media (max-width:1336px) {
    .content-description-compromises{
        width:200px;
    }
}

@media (max-width:1024px) {
    .content-description-compromises{
        width:180px;
    }
}

@media (max-width:767px) {
    .content-description-compromises{
        width:150px;
    }
}


@media(max-width: 767px) { 
    .table-grid-30{
        width:100%;
    } 
    .table-grid-20{
        width:100%;
    }  

    .table-grid-30-compromises{
        width:100%;
    }

    .table-grid-20-compromises{
        width:100%;
    }

}    

.table-grid-40{
    width:40%;
}

@media(max-width: 767px) { 
    .table-grid-40{
        width:100%;
    }  
}   

.table-grid-50{
    width:50%;
}

.table-grid-100{
    width:100vw;
}


.td-word-wrap{
    word-wrap: break-word;
}


.tr-height100{
    height:100px;
}

.bg-gray-cell{
    background-color: #eaeaea;
}

.project-table-section{
    flex-wrap: wrap;
}
.project-table-section .show-image{
    -webkit-animation-name: showImage;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-name: showImage;
    animation-duration: 1s;
    animation-fill-mode: forwards;  
}

.image-project img{
    margin: 0 auto;
    width: 100%;
}


@media only screen and (max-width: 780px){
    .logo-add{
        width: 50% !important;
        margin: 0 auto;
        margin-bottom: 1em;

    }
    .image-project img{
        width: 50%;
        margin: 0 auto;
        margin-bottom: 1em;
    }
}

@media only screen and (max-width: 480px){
    .logo-add{
        width: 100% !important;

    }
    .image-project img{

        width: 100% 
    }
}

@media only screen and (max-width: 780px){
    .project-table-section .show-image{
        -webkit-animation-name: showImageResponsive;
        -webkit-animation-duration: 1s;
        -webkit-animation-fill-mode: forwards;
        animation-name: showImageResponsive;
        animation-duration: 1s;
        animation-fill-mode: forwards;  
    }
}
.project-table-section .form-project{
    width: 78%;
    transition: .5 width;
}
.project-table-section .form-project-max{
    width: 100%;
}
@media only screen and (min-width: 780px){
    .project-table-section .form-project{
        margin-left: .5em;
    }
    .project-table-section .form-project-max{
        margin-left: 0;
    }
}
@media only screen and (max-width: 780px){
    .project-table-section .form-project{
        width: 100%;
    }    
}


@keyframes showImage{
    0%   {width: 0%; opacity:0}
    50%  {opacity:.5}
    100% {width: 20%; opacity:1}  
}

@keyframes showImageResponsive{
    0%   {width: 0%; opacity:0}
    50%  {opacity:.5}
    100% {width: 100%; opacity:1}  
}