<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

<div class="container-fluid">
<!-- Begin Page Header-->

<!-- End Page Header -->
    <?php echo $this->element('nav_admin_taskeee'); ?>
    <div class="col-xl-9">
        <div class="col-xl-12">
            <!-- Begin Widget 07 -->
            <div class="widget widget-07 has-shadow">
            <!-- Begin Widget Header -->
            <div class="widget-header bordered d-flex align-items-center">
                <h2>Mis Compromisos</h2> 
            </div>
                <!-- End Widget Header -->
                <!-- Begin Widget Body -->
                <div class="widget-body">
                    <div class="dropdown bootstrap-select show-menu-arrow">
                       <select class="selectpicker show-menu-arrow filtro">
                            <option <?php if(isset($_GET["order"]) && $_GET["order"] == "first" ) echo "selected" ?> value="first" data-icon="la la-sort-amount-desc" >Primeros a vencer</option>
                            <option <?php if(isset($_GET["order"]) && $_GET["order"] == "last" ) echo "selected" ?> value="last" data-icon="la la-sort-amount-asc">Ultimos a vencer</option>
                            <option <?php if(isset($_GET["order"]) && $_GET["order"] == "priority" ) echo "selected" ?> value="priority" data-icon="la la-star">Prioridad</option>
                        </select>
                    </div>

                    <?php if(!empty($commitments)) { ?>

                        <div class='form-group mt-5'> 
                            <?php echo $this->Form->label('Commitment.user_id',__('Asignar compromisos al siguiente usuario'), array('class'=>'control-label'));?>
                            <?php echo $this->Form->input('user_id', array('class' => 'form-control border-input select','label'=>false,'options' => $collaborators,'div'=>false,"empty"=>__("Seleccionar usuario"),"style"=>"")); ?>
                        </div>

                        <div class="btn-group btn-group-sm">
                            <button type="button" class="tabledit-edit-button btn btn-lg btn-success td-actions reasignar-compromisos">
                                <?php echo __('Asignar compromisos'); ?>
                            </button>
                        </div>

                        <div class="form-group mt-5 media-left align-self-center mr-3"> 
                            <input type="checkbox" class="seleccionar_todos" value="1" > <?php echo __('Seleccionar todos'); ?>                                                                                             
                        </div>

                    <?php } ?>


                    <ul class="list-group w-100 mt-5">
                        <?php  $totalDia = 0; ?>
                        <?php foreach ($commitments as $key => $value): ?>
                        <?php 
                        ?>
                        <li class="list-group-item">
                            <div class="other-message">
                                <div class="media"> 
                                    <div class="media-left align-self-center mr-3"> 
                                        <input type="checkbox" class="seleccionar_compromisos" value="<?php echo $value['Commitment']['id'] ?>" name="data[Commitment][id][]">                                                                                                
                                    </div> 
                                    <div class="media-left align-self-center mr-3">
                                        <img src="<?php echo $this->Html->url('/files/User/'.AuthComponent::user('img')); ?>" class="img-fluid rounded-circle" style="width: 50px;">
                                    </div>
                                    <div class="media-body align-self-center">
                                        <div class="other-message-sender">
                                            <?php if(empty(AuthComponent::user('firstname'))):?>
                                                <?php echo __("Nombre no asignado");?>
                                            <?php else: ?>
                                                <?php echo $this->Text->truncate(h(AuthComponent::user('firstname')).' '.AuthComponent::user('lastname'),20); ?> 
                                            <?php endif; ?>
                                            <span style="width:160px;" class="pull-right">
                                                <span class="badge-text badge-text-small danger" style="width: 100%;">
                                                <?php echo   Configure::read("TipoCompromiso.".$value["Commitment"]["type_categorie"]) ."-". Configure::read("PrioridadTareas.".$value["Commitment"]["priority"]) ?>
                                                </span>
                                            </span>
                                        </div>
                                        <div class="other-message-time">
                                            <?php echo $value["Commitment"]["description"]?>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="media-body align-self-center mt-2">
                                                        <div class="event-title text-secondary"><?php echo $value["Client"]["name"] ?> - <?php echo $value["Project"]["name"] ?></div>
                                                        <div class="event-desc mr-3">

                                                            <i class="fa fa-calendar"></i>
                                                            <span><?php echo $value["Commitment"]["delivery_date"] ?></span> 
                                                            <?php if($this->request->is('mobile')) { ?> 
                                                                <br>
                                                            <?php } ?>
                                                            <i class="fa fa-bell"></i>
                                                            <span>
                                                                <?php
                                                                if($value["Commitment"]["notification_date"] == "0000-00-00"){
                                                                    echo "Sin definir";                                                        
                                                                } else {
                                                                    echo $value["Commitment"]["notification_date"];
                                                                }
                                                                ?>                                                                    
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </li>
                        <?php endforeach?>
                         <?php if(empty($commitments)): ?>                                                 
                             <div class="alert alert-outline-success dotted" role="alert">
                                <strong>Bien!</strong> No tienes compromisos pendientes.
                            </div> 
                         <?php endif ?> 
                    </ul>
                </div>
                <!-- End Widget Body -->
                <!-- Begin Widget Footer -->

                         
                <div class="widget-footer border-top p-4">
                    <div class="table-pagination">
                        <div><?php echo $this->Paginator->counter(array('format' => __('Página {:page} de {:pages}, mostrando {:current} registros de {:count} en total, comenzando en {:start}, terminando en {:end}')));?></div>
                        <div>
                            <ul class="pagination justify-content-end">
                                <?php
                                    echo $this->Paginator->prev('< ' . __(''), array('tag' => 'li'), null, array('class' => 'disabled', 'tag' => 'li', 'disabledTag' => 'a'));
                                    echo $this->Paginator->numbers(array('separator' => '', 'currentTag' => 'a', 'tag' => 'li', 'currentClass' => 'disabled'));
                                    echo $this->Paginator->next(__('') . ' >', array('tag' => 'li'), null, array('class' => 'disabled', 'tag' => 'li', 'disabledTag' => 'a'));
                                ?>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- End Widget Footer -->
            </div>
            <!-- End Widget 07 -->
        </div>
    </div>
    <!-- End Row -->
</div>

 
<?php
  
    $this->Html->script('/assets/vendors/js/datepicker/moment.min.js', ['block' => 'AppScript']);
    $this->Html->script('/assets/vendors/js/datepicker/daterangepicker.js', ['block' => 'AppScript']);

    $this->Html->script('lib/select2/select2.min.js', ['block' => 'AppScript']);
    if($this->Session->read('Config.language') == 'esp') {
        $this->Html->script('lib/select2/i18n/es.js', ['block' => 'AppScript']);
    } 
?>

<?php $this->start('AppScript'); ?>
<script type="text/javascript">    
    $( document ).ready(function() {
        $('.select').select2(
            {language: 'es',}
        );
 
        $('body').on('change', '.seleccionar_compromisos', function (event){  
            var countCheckbox    = $("[name='data[Commitment][id][]']:checked").length;
            var totalCompromisos = 0;
            $.each($("[name='data[Commitment][id][]']"), function(){
                totalCompromisos++;
            }); 

            $('.seleccionar_todos').prop('checked', false);

            if(totalCompromisos == countCheckbox){
                $('.seleccionar_todos').prop('checked', 'checked'); 
            } 
        });


        $('body').on('change', '.seleccionar_todos', function (event){  
            if($(this).is(':checked')) {
                $.each($("[name='data[Commitment][id][]']"), function(){
                    $(this).prop('checked', 'checked');
                });
            } else {
                $.each($("[name='data[Commitment][id][]']"), function(){
                    $(this).prop('checked', false); 
                });
            }
        });
 
        $('body').on('click', '.reasignar-compromisos', function(event) {
            var compromisos = [];

            $.each($("[name='data[Commitment][id][]']:checked"), function(){
                compromisos.push($(this).val());
            });   

            if( !$('#user_id').val() ) {
                Swal.fire({
                  icon: 'error',
                  title: '¡Atención!',
                  text: 'Se debe seleccionar un usuario.',
                }) 
                return false;
            } 

            if(compromisos.length == 0){
                Swal.fire({
                  icon: 'error',
                  title: '¡Atención!',
                  text: 'Se debe seleccionar un compromiso.',
                }) 
            } else {
                Swal.fire({
                  title: '¿Está seguro de asignar los compromisos seleccionados?',
                  text: "¡No podrás revertir esto!",
                  icon: 'warning',
                  showCancelButton: true,
                  confirmButtonColor: '#60c400',
                  cancelButtonColor: '#d33',
                  confirmButtonText: 'Confirmar',
                  cancelButtonText: '¡No, Cancelar!',
                }).then((result) => {
                  if (result.isConfirmed) {

                    $.ajax({
                        type: "POST",
                        url: GLOBAL_DATA.APP_BASE+"/tasks/reasignar_compromisos",
                        data: {
                            ids: compromisos,
                            user_id: $('#user_id').val(),
                        },
                        beforeSend: function(){
                            $('#preloader').show();
                        },
                        complete:function(data){

                        },
                        success: function(data){
                            $('#preloader').hide();
                            Swal.fire(
                              '¡Bien!',
                              'Se han asignado los compromiso(s) correctamente.',
                              'success'
                            )
                            setTimeout(function(){
                             location.href = "";
                            }, 1500);
                        },
                        error: function(data){
                            alert("Problemas al tratar de enviar el formulario");
                        }
                    }); 
                  } else {
                    // $("#check-"+$(this).data("id")).prop("checked",false);
                  }
                })                
            } 
        }); 
    }); 
</script>
<?php $this->end(); ?>

<style type="text/css">
    .swal2-overflow {
  overflow-x: visible;
  overflow-y: visible;
}

.daterangepicker{
    z-index: 10000000 !important;
}

#select2-user_id-container{
    border: solid 0.5px darkgrey;border-radius: 4px;
}

</style>
