* {
    font-family: 'Nunito', sans-serif;
    color: #aaaaaa;
}


/* Tags */

ul.tag-editor.ui-sortable {
    height: auto !important;
    border-radius:20px !important;
}

.tag-editor{
  line-height:22px;    
}

.tag-editor .tag-editor-tag {
    background-color: transparent;
    color: #1e212a;
    border:1px solid #1e212a;
    line-height:21px;
}

.tag-editor .tag-editor-delete {
    background: #1e212a;
    cursor: pointer;
    border-radius: 0 2px 2px 0;
    padding: 0 2px;
    line-height:22px;
}

.tag-editor .tag-editor-delete i {
    line-height: 22px;
}

.tag-editor .tag-editor-delete i:before {
    font-size: 11px;
    color: #ffffff;
}

/* bootstrap-tagsinput */

.bootstrap-tagsinput .tag{
    color: #1e212a;
    border: 1px solid #1e212a;
}

.bootstrap-tagsinput  .label-info {
    background-color: transparent;
}

.bootstrap-tagsinput .tag [data-role="remove"] {
    color:#21c910;
}


.nav-default {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1020;
    height: 70px;
    background-color: #ffffff;
    -webkit-box-shadow: -1px 10px 5px -4px rgba(204, 204, 204, 1);
    -moz-box-shadow: -1px 10px 5px -4px rgba(204, 204, 204, 1);
    box-shadow: -1px 10px 5px -4px rgba(204, 204, 204, 1);
}

.nav-default ul {
    margin: 0;
    padding: 0;
    height: 70px;
    line-height: 70px;
}

li.dropdown.notificaciones ul {
    max-height: 400px;
    right: 0 !important;
    left: auto !important;
    overflow: scroll;
}

li.dropdown.notificaciones ul li a {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 530px;
}

.nav-default ul li {
    display: inline-block;
    padding: 0 10px;
}

@media(max-width:767px) {
    .nav-default ul li {
        padding: 0 5px;
    }
}

.nav-default ul .notificaciones {
    padding: 0 15px;
}

.nav-default .dropdown-menu {
    height: auto;
    border-radius: 0;
}

@media(max-width:767px) {
    .nav-default .dropdown-menu {
        right: 0;
        left: auto;
    } 
}

.nav-default .dropdown-menu li {
    display: block;
    padding: 0;
}

.nav-default .dropdown-menu li a {
    padding: 10px 20px;
}

.img-user-nav {
    width: 40px;
    height: 40px;
}

.icon-ellipsis {
    padding: 0 10px;
}

.bg-bluedark {
    background-color: #1e212a;
}

.logo {
    width: 100px;
    margin-left:20px;
}

@media(max-width:1200px)  {   
  .logo {
    margin-left:50px;
  }   
}

@media(max-width:767px)  {   
    .logo {
      display:none;
    }   
}

/* Links*/

.f-link-blue {
    color: #1e212a;
    font-weight: 700;
}

.f-link-blue-border {
    color: #1e212a;
    text-decoration:underline;
}

.f-link-blue:hover,
.f-link-blue:focus,
.f-link-blue:focus:active,
.f-link-blue:active {
    color: #1e212a;
    outline: 0;
}

.f-link-blue-border:hover,
.f-link-blue-border:focus,
.f-link-blue-border:focus:active,
.f-link-blue-border:active {
    color: #1e212a;
    outline: 0;
}

.m-10px{
    margin: 10px;
}

a:hover,
a:active,
a:focus {
    text-decoration: none;
}

.btn:hover,
.btn:active,
.btn:focus {
    outline: 0;
}

.btn:active:focus {
    outline: 0;
}


/* Contenedor de la información */

.content-body {
    height: 100vh;
    display: block;
    background-color: #f8f8f8;
    margin-left: 150px;
}

.required:after {
    content: "*";
}

@media(max-width:1200px) {
    .content-body {
        margin-left: 0;
    }
}

.content-info {
    padding: 70px 20px;
    background-color: #f8f8f8;
}
.backg-white{
    position:relative;
    background-color: #fff;
    padding: 2em 1.5em;
    /* margin: 2em 0; */
    -webkit-box-shadow: 10px 10px 5px -8px rgba(194, 192, 194, 1);
    -moz-box-shadow: 10px 10px 5px -8px rgba(194, 192, 194, 1);
    box-shadow: 10px 10px 5px -8px rgba(194, 192, 194, 1);
}

@media(max-width:767px) {
    .content-info {
        padding: 70px 15px;
    }
}


/* Textos */

.f-title {
    display: inline-block;
    color: #1e212a;
    font-size: 21px;
    font-weight: 700;
}

.header-box-table {
    background-color: #f9f9f9;
    margin: 10px 0 0 0;
    padding: 15px 0 15px 15px;
    border: 1px solid #ddd;
}

.header-box-table h3 {
    margin: 0;
}

.nav-mainadmin_navbar-nav>li>a .logo {
    width: 100px;
}

.tooltip {
    z-index: 1039;
}

.tab {
    background-color: #ffffff;
    width: 100%;
}

.tab a {
    background-color: #ffffff;
    color: inherit;
    width: 50%;
    display: block;
    float: left;
    text-decoration: none;
    text-align: center;
    padding: 1em;
    border-bottom: 5px solid #ffffff;
}

.tab a button {
    background-color: #ffffff;
    border-bottom: 5px solid transparent;
    width: 50%;
    display: block;
    float: left;
}

.tab a span {
    text-transform: uppercase;
    font-weight: 700;
    color: #1e212a;
}

.tab a:hover {
    border-bottom: 5px solid #1e212a;
}


/* Invitaciones recibidas */

.bg-filter-main {
    background-color: #ffffff;
    -webkit-box-shadow: 10px 10px 5px -8px rgba(194, 192, 194, 1);
    -moz-box-shadow: 10px 10px 5px -8px rgba(194, 192, 194, 1);
    box-shadow: 10px 10px 5px -8px rgba(194, 192, 194, 1);
}

.bg-filter-subtitle {
    margin: 0;
    padding: 10px;
}

.content-list-meetings {
    height: 450px;
    overflow-y: auto;
}

.card-meeting {
    background-color: #ffffff;
    -webkit-box-shadow: -1px 0px 5px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: -1px 0px 5px 1px rgba(0, 0, 0, 0.25);
    box-shadow: -1px 0px 5px 1px rgba(0, 0, 0, 0.25);
    margin: 2em 2em 0 2em;
    padding: 10px;
}

.card-meeting-scroll {
    height: 400px;
    overflow-y: auto;
}

.row-list-meeting {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.div-word-wrap{
    word-wrap: break-word;
}

.scroll-temasespecificos{
    height:350px;
    overflow-y:auto;
}


.card-meetings-btn {
    background-color: #1e212a;
    display: flex;
    justify-content: flex-end;
    margin: 0 2em;
    width: 10%;
    padding: 5px;
}

.card-meetings-btn a i:before {
    color: #ffffff;
}

.card-meeting-actions {
    background-color: #1e212a;
    display: flex;
    margin: 0 2em;
    width: 25%;
    padding: 10px;
}

.header-cardmeeting {
    background-color: #ddd;
    padding: 0;
}

.btn-email {
    margin: 0;
    padding: 0 10px;
}

.btn-email img {
    width: 30px;
    -webkit-box-shadow: 10px 10px 5px -6px rgba(230,230,230,1);
    -moz-box-shadow: 10px 10px 5px -6px rgba(230,230,230,1);
    box-shadow: 10px 10px 5px -6px rgba(230,230,230,1);
}

.icon-email {
    width: 30px;
    margin: 15px 15px;
    -webkit-box-shadow: 10px 10px 5px -3px rgba(224,220,224,1);
    -moz-box-shadow: 10px 10px 5px -3px rgba(224,220,224,1);
    box-shadow: 10px 10px 5px -3px rgba(224,220,224,1);
}

.line-height-40 {
    line-height: 40px;
}

.bg-filter-subtitle-calendario {
    margin: 0;
    padding-left: 15px;
}


/* Búsqueda avanzada */

.bg-filter {
    background-color: #ffffff;
    -webkit-box-shadow: 10px 10px 5px -8px rgba(194, 192, 194, 1);
    -moz-box-shadow: 10px 10px 5px -8px rgba(194, 192, 194, 1);
    box-shadow: 10px 10px 5px -8px rgba(194, 192, 194, 1);
    padding: 2em;
}

.scroll-inviteds {
    height: 150px;
    overflow-y: auto;
}

.bg-filter-checkbox {
    background-color: #ffffff;
    -webkit-box-shadow: 10px 10px 5px -8px rgba(194, 192, 194, 1);
    -moz-box-shadow: 10px 10px 5px -8px rgba(194, 192, 194, 1);
    box-shadow: 10px 10px 5px -8px rgba(194, 192, 194, 1);
    padding: 2em;
    margin: 2em 0 0 0;
}

.bg__filter-search{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.heightscroll__filter{
   height:600px;
   overflow-y:auto;
}


@media (max-width:992px) {
    .bg__filter-search{
        flex-direction:column;
    }    
}    


.bg-filter-checkbox .form-control {
    border: none;
    box-shadow: none;
    padding: 0;
}

.bg-filter-clear {
    background-color: #ffffff;
    -webkit-box-shadow: 10px 10px 5px -8px rgba(194, 192, 194, 1);
    -moz-box-shadow: 10px 10px 5px -8px rgba(194, 192, 194, 1);
    box-shadow: 10px 10px 5px -8px rgba(194, 192, 194, 1);
    padding: 2em;
    margin: 1em 0 0 0;
}

.bg-filter-checkbox:before {
    content: "";
    position: absolute;
    top: 1em;
    left: 48%;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #ffffff;
}

.btn_limpiarFiltros {
    border: 1px solid transparent;
    border-radius: 0;
    background-color: #cccccc;
    padding: 12px 12px;
    height: auto;
    width: 100%;
}

.f-content-search-filter .input-group-btn .btn {
    background-color: #ffffff;
    border-left: 1px solid #1e212a;
    box-shadow: none;
    border-radius: 0 5px 5px 0;
    transition: all .5s;
}

.f-content-search-filter .input-group-btn .btn span {
    color: #1e212a;
}

.f-content-search-filter .input-group-btn .btn:hover {
    background-color: #1e212a;
    transition: all .5s;
}

.f-content-search-filter .input-group-btn .btn:hover span {
    color: #ffffff;
    transition: all .5s;
}

.content-option-users {
    background-color: #f8f8f8;
    -webkit-box-shadow: 6px 10px 54px -17px rgba(204, 204, 204, 1);
    -moz-box-shadow: 6px 10px 54px -17px rgba(204, 204, 204, 1);
    box-shadow: 6px 10px 54px -17px rgba(204, 204, 204, 1);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 250px;
    padding: 1em;
}

.option-users-item {
    text-align: center;
    border-right: 1px solid #cccccc;
}

.option-users-item i:before {
    margin: 0;
}

.option-users-item:last-child {
    text-align: center;
    border-right: none;
}

.option-users-item div:first-child {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: #1e212a;
    color: #ffffff;
    margin: 0 auto;
}

.icon-notification::before {
    margin-left: 0;
}


/*Crear citación a reunión */

.link-show-password {
    padding: 5px 0;
    border: none;
    background-color: transparent;
    color: #1e212a;
}

.link-show-password:focus,
.link-show-password:active{
    background-color: transparent;
    box-shadow: none;
    outline:0;
}

#content-password .input-group-btn .btn {
    background-color: #ffffff;
    border-left: 1px solid #1e212a;
    box-shadow: none;
    border-radius: 0 5px 5px 0;
    transition: all .5s;
}

#content-password .input-group-btn .btn:hover {
    background-color: #1e212a;
    transition: all .5s;
}

#content-password .input-group-btn .btn span {
    color: #1e212a;
}

#content-password .input-group-btn .btn:hover span {
    color: #ffffff;
    transition: all .5s;
}


/* Botón calendario */

#datetimepickerStart .input-group-btn .btn {
    background-color: #ffffff;
    border-left: 1px solid #1e212a;
    box-shadow: none;
    border-radius: 0 5px 5px 0;
    transition: all .5s;
}

#datetimepickerStart .input-group-btn .btn:hover {
    background-color: #1e212a;
    transition: all .5s;
}

#datetimepickerStart .input-group-btn .btn span {
    color: #1e212a;
}

#datetimepickerStart .input-group-btn .btn:hover span {
    color: #ffffff;
    transition: all .5s;
}


/* Botón calendario */

.f-datapicker #datetimepickerStart input {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px 0 0 5px;
}

.f-datapicker #datetimepickerStart .input-group-addon {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    transition: all .3s;
    border-left: 1px solid #1e212a;
}

.f-datapicker #datetimepickerStart .input-group-addon:hover {
    background-color: #1e212a;
    transition: all .3s;
}

.f-datapicker #datetimepickerStart .input-group-addon:hover span {
    color: #ffffff;
    transition: all .3s;
}

.f-datapicker #datetimepickerStart .input-group-addon span {
    color: #1a212e;
}


/* Botón calendario logs */

.f-datapicker #datetimepickerStartLog input {
    background-color: #ffffff;
    border: none;
    border-radius: 5px 0 0 5px;
}

.f-datapicker #datetimepickerStartLog .input-group-addon {
    background-color: #ffffff;
    border: none;
    transition: all .3s;
    border-left: 1px solid #1e212a;
}

.f-datapicker #datetimepickerStartLog .input-group-addon:hover {
    background-color: #1e212a;
    transition: all .3s;
}

.f-datapicker #datetimepickerStartLog .input-group-addon:hover span {
    color: #ffffff;
    transition: all .3s;
}

.f-datapicker #datetimepickerStartLog .input-group-addon span {
    color: #1a212e;
}

.f-input-select-white .form-control {
    border: none;
}

.icon-inviteds:before {
    margin-left: 0;
    margin-right: 10px;
}

.tabs-animation:before {
    content: "";
    position: absolute;
    width: 0;
    left: 0;
    bottom: 0;
    height: 2px;
    border-bottom: 2px solid #1e212a;
    transition: width .5s;
}

.tabs-animation:hover {
    color: #1e212a;
    border: none !important;
    font-weight: bold;
}

.tabs-animation:hover:before {
    width: 99.8%;
}

.tabs-main a {
    position: relative;
}

.tabs-main a:before {
    border-bottom: 5px solid #1e212a;
}

.tabs-main a:after {
    content: "";
    position: absolute;
    height: 80%;
    top: 0;
    bottom: -5px;
    right: 0;
    margin-top: auto;
    margin-bottom: auto;
    border-right: 1px solid #aaaaaa;
}

.tabs-main a:last-child:after {
    border: none;
}

.tabs-main a span {
    color: inherit;
    font-weight: 700;
}

.tabs-main .active {
    color: #1e212a;
}

.tabs-main .active:before {
    width: 99.8%;
}

.font-bold {
    font-weight: 700;
}

.font-regular {
    font-weight: 500;
}

.p-relative {
    position: relative;
}

.d-block {
    display: block;
}

.width-261 {
    width: 261px;
}

.right-0 {
    right: 0;
}

.f-cursor-pointer {
    cursor: pointer;
}

.img-user {
    width: 150px;
    height: 150px;
}

.img-user-admin {
    width: 150px;
}

a:focus {
    outline: 0;
}

.dropzone {
    border: none;
    min-height:200px;
    padding:0;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #FFFFFF;
    border: 1px solid #1E212A;
    color: #1e212a;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #21c910;
    font-weight: 700;
}


/* Crear acta input select2 */

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.select2 {
    width: 100%!important;
}

.btn-table {
    background-color: #1e212a;
    color: #ffffff;
    border-radius: 0;
    padding: 5px;
}

.btn-table:hover,
.btn-table:focus,
.btn-table:active {
    background-color: #1e212a;
    color: #ffffff;
    border-radius: 0;
    padding: 5px;
}

.bootstrap-tagsinput {
    width: 100%;
}

/*.alert-danger {
    position: fixed;
    top: 2%;
    right: 2%;
    z-index: 10000;
}*/

.fluid {
    width: 100%;
}

@media (max-width:480px) {
    li.dropdown.notificaciones ul {
        right: auto !important;
        left: 0 !important;
        width: 100%;
    }
}

.fluid{
    width:100%;
}

.imageDropzone-div{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:flex-start;
    align-items: flex-start;
}

.imageDropzone-div .showImages {
    padding:0.5em;
}

.imageDropzone-div .document-upload {
    padding:0.5em;
}

.img-logo-acta{
    width:150px;
}


.imageDropzone-div .showImages .img-size-upload {
    width:130px;
}

.imageDropzone-div .img-size-upload{
    width:130px;
}

.scroll-height-250{
	height:250px;
	overflow-y:auto;
}

.scroll-height-150{
	height:150px;
	overflow-y:auto;
}

.imageDropzone-div .link__uploadimg,
.imageDropzone-div .link__uploaddocument{
   padding:0.5em;
}



/* Código CSS para las vistas del acta */

.row-flex{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
    margin:15px 0;
}

@media(max-width: 767px) { 

.row-flex{
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
}

}

.col-30-flex{
    width:30%;
}

@media(max-width: 767px) { 
    .col-30-flex{
       width:100%;
    }
}

.col-70-flex{
    width:70%;
}

@media(max-width: 767px) { 
    .col-70-flex{
       width:100%;
    }
}

.scroll-uploadimg{
    height:230px;
    overflow-y:auto;
    border:1px solid #cccccc;
}

.imageDropzone-div{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:flex-start;
    align-items: flex-start;
    border:1px solid #cccccc;
}

.text-void{
    display:block!important;
    margin:0 auto!important;
}

.f-btn-delete{
    border-radius: 10px;
    width: 30px;
    height: 30px;
    background-color: #1e212a;
    display: inline-block;
    border: none;
    color: #ffffff;
}

.f-btn-delete:hover,
.f-btn-delete:active,
.f-btn-delete:active:focus,
.f-btn-delete:focus{
    background-color: #091e5d;
    outline:0;
 }

.text-empty{
   display:block;
   margin:0 auto;
   padding:15px;
}


/* loading */

.body-loading{
    margin:0;
    background-color: rgba(10, 16, 33, 0.9);
    position: fixed;
    z-index:2000;    
    left:0;
    right:0;
    width: 100%;  
    height: 100%; 
    display: block;   
    top: 0;
}

.container-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dot {
  width: 20px;
  height: 20px;
  border: 2px solid #21c910;
  border-radius: 50%;
  float: left;
  margin: 0 5px;
  transform: scale(0);
  animation: fx 1000ms ease infinite 0ms;
}
.dot:nth-child(2) {
  animation: fx 1000ms ease infinite 300ms;
}
.dot:nth-child(3) {
  animation: fx 1000ms ease infinite 600ms;
}
@keyframes fx {
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* comentarios del acta */

.state-acta{
    border: 1px solid #ebcccc;
    background-color:#f2dede;
    display: inline-block;
    padding: 2px;
    border-radius: 5px;
    color: #a94442;
    }
    
    .state-acta i:before{
    margin-left:0;
    margin-right:5px;
    font-size:10px;
    color: #a94442;
    }

    .table-add-commiments{
      table-layout: fixed;
    }
      
      @media(max-width: 767px) {  
        .table-add-commiments{
            table-layout: auto;
            width: 100%;
        }
      }

      .table-add-commiments .col-30-commiments{
        width:30%;
      }
      
      @media(max-width: 767px) {  
        .table-add-commiments .col-30-commiments{
            width:100%;
        }
      }
      
      .table-add-commiments .col-40-commiments{
        width:40%;
      }
      
      @media(max-width: 767px) {  
        .table-add-commiments .col-40-commiments{
            width:100%;
        }
      }

    
      .p-description-acta{
        word-wrap: break-word;
      }

      /* Buttons */

      .btn-select2{
        padding: 0 5px;
        background-color: #cccccc;
        cursor: pointer;
        margin-left:5px; 
    }
    
    .btn-select2 i:before{
        margin-left:0;
        font-size:14px;
        color:#1e212a;
    }

    /* Archivos para la carga de los docuemntos en las actas */
      
    .div__documentupload,
    .div__imageupload{
        position:relative;
        padding:0.5em;
    }


.div__documentupload .btns,
.div__imageupload .btns{
    position:absolute;
    top:0;
    width: 20px;
    height: 20px;
    display: block;
    border-radius:50%;    
    line-height: 20px;
    cursor:pointer; 
    text-align:center;  
}

.div__documentupload .btns i:before,
.div__imageupload .btns i:before {
    color:#ffffff;
    margin-left:0;
    font-size:10px;
}

.div__documentupload .btn_downloadDocumento{  
    right:0;
    background-color:#1e212a;    
}

.div__documentupload .btn_eliminarDocumento{
    right:20px;
    background-color:#878787; 
}

.div__imageupload .btn_eliminarImagen{
    right:0px;
    background-color:#878787; 
}

.text-notificacion{
    color:#1e212a;
    text-decoration:underline;
}

.none-shadow{
    box-shadow: none !important;
}

.tag-recapmeeting-mod {
    border: 1px solid #1e212a;
    color: #1e212a;
    border-radius: 4px;
    padding: 0 5px;
    margin: 0 5px 5px 0;
}    

.d-flex{
    display: flex;
}
    
@media only screen and (max-width: 1024px) and (min-width: 768px){
    .form-select-enterprise div.btn-group .multiselect{
        width: auto !important; 
    }
}
@media only screen and (max-width: 768px){
    .form-select-enterprise div.btn-group .multiselect{
        width: 100% !important;
    }
    .form-select-enterprise div.btn-group{
        width: 100%;
    }
}



