.nav-aside {
    position:fixed;
    top:0;
    padding-top:70px;
    width: 150px;
    height:100vh;
    overflow-y:auto;
    background-color: #ffffff;
    -webkit-box-shadow: 10px 10px 5px -8px rgba(194, 192, 194, 1);
    -moz-box-shadow: 10px 10px 5px -8px rgba(194, 192, 194, 1);
    box-shadow: 10px 10px 5px -8px rgba(194, 192, 194, 1);
}

.nav-aside ul {
    padding: 0;
    text-align: center;
}

.nav-aside ul a {
    color: #aaaaaa;
    text-decoration: none;
}

.nav-aside ul a:hover li i:before {
    color: #ffffff;
}

.nav-aside ul a li {
    padding: 15px 0;
    border-right: 5px solid #ffffff;
    margin: 0;
}

.nav-aside ul a:hover li {
    padding: 15px 0;
    border-right: 5px solid #1e212a;
}

.nav-aside ul a li i {
    display: block;
    margin: 0 auto;
    background-color: transparent;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.nav-aside ul a:hover li i {
    display: block;
    margin: 0 auto;
    background-color: #1e212a;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.nav-aside ul a li i:before {
    margin: 0;
    line-height:2;
}


@media(max-width:1200px){
    
    .burguer-button-navleft{
            width:40px;
            height:40px;
            background-color:#1e212a;
            border-radius:50%;
            border:none;
            line-height:40px;
            display:inline-block;
            text-align:center;
            position:fixed;
            top:15px;
            left:15px;
            cursor:pointer;
            z-index: 1039;
    }

    .burguer-button-navleft:hover,
    .burguer-button-navleft:active,
    .burguer-button-navleft:focus{
       outline:0;
       background-color:#091e5d;
    }
    
    .burguer-button-navleft i:before{
                margin-left:0;
                display:block;
                color:#ffffff;
    }
            
            .nav-aside{
              height:100%;
              display:block;
              background-color: #ffffff;
              -webkit-box-shadow: 10px 10px 5px -8px rgba(194, 192, 194, 1);
              -moz-box-shadow: 10px 10px 5px -8px rgba(194, 192, 194, 1);
              box-shadow: 10px 10px 5px -8px rgba(194, 192, 194, 1);
              position:fixed;
              top:0;
              left:-100%;
              right:0;
              bottom:0;
              z-index:4;
              align-items:flex-start;
              transition:.3s;
            }
    
            .nav-aside.activado{
            left:0;
}

       

      
      
    
    
        
      

       

      

     
    
       
    
     
    
     
    
    
  
   

   
   



 }