.footer-recapmeeting{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 300px;
    
}

.footer-recapmeeting .row-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 4em 0 0 0;
  }
  
.footer-recapmeeting .row-footer .col-footer {
    margin: 0 30px;
}

@media(max-width:992px){
    .footer-recapmeeting .row-footer .col-footer {
        width:50%;
        padding:15px 30px;
        margin:0 0;
    }
}

@media(max-width:767px){
    .footer-recapmeeting .row-footer .col-footer {
        width:100%;
    }
}


.footer-recapmeeting .row-footer .col-footer h4 {
    color: #1E212A;
    font-weight: 700;
}
  
  
    .col-footer ul {
        margin: 0;
        padding: 0;
    }
  
        .col-footer ul li {
            list-style: none;
            padding-bottom: 5px;
        }
  
            .col-footer ul li a {
                color: #989898;
            }

            .link-contact {
                color: #989898;
            }

            .link-contact:hover,
            .link-contact:focus,
            .link-contact:active{
                color: #989898;
                outline:0;
            }

  .socials ul {
    margin: 0;
    padding: 0;
  }
  
    .socials ul li {
        list-style: none;
        display: inline-block;
        padding: 0 5px;
    }
  
        .socials ul li a {
            color: #21c910;
        }
  
            .socials ul li a i:before {
                margin-left: 0;
            }

            .subtitle {
                color: #1E212A;
                font-weight: 700;
            }

            .lineborder-bottom-footer {
                width: 50px;
                height: 2px;
                background-color: #B5BDCB;
                margin-bottom: 15px;
              }


      
         