.nav-website{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items: center;
    background-color:#1e212a;
    padding:1em;    
}

.nav-website li {
    display:inline-block;
    padding: 0 10px;
  }

.nav-website li a {
    color:#ffffff;
    text-decoration:none;
  }

.nav-website ul {
    margin:0;
    z-index:20;
}

.nav-website .ul-right .dropdown{
 padding-bottom:15px;
}

.nav-website .ul-right .dropdown .dropdown-menu {
    right:0;
    left:auto;
    padding:0;
    border-radius:0;
    border:none;
    background-color:rgba(10,16,33,0.9);
 }

 .nav-website .ul-right .dropdown .dropdown-menu li{
    display:block;
    padding:0;
 }
 

.nav-website-logo{
    display: inline-block;
    max-width: 150px;
    height: 50px;
}

.btn-navregister{
    background: rgba(255,255,60,1);
    background: -moz-linear-gradient(top, rgba(255,255,60,1) 0%, rgba(231,173,71,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,60,1)), color-stop(100%, rgba(231,173,71,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,60,1) 0%, rgba(231,173,71,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,60,1) 0%, rgba(231,173,71,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,60,1) 0%, rgba(231,173,71,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,60,1) 0%, rgba(231,173,71,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff3c', endColorstr='#e7ad47', GradientType=0 );
    border:none;
    border-radius: 15px;
    padding: 5px 30px;
    font-weight:700!important;
    transition:all .3s;
}

.btn-navregister:hover,
.btn-navregister:focus,
.btn-navregister:active{
    background: rgba(0,0,0,0);
    color: #21c910;
    box-shadow: inset 0 0 0 2px #21c910;
    outline: 0;
}


.nav-website .ul-right .menu-li-language{
    background: rgba(0, 0, 0, 0);
    color:#ffffff;
}

.nav-website .ul-right .menu-li-language .menu-dropdown-language{
    background: rgba(10, 16, 33, 0.9);
    color:#ffffff;
    padding:0;
}

.nav-website .ul-right .menu-li-language .menu-dropdown-language-li{
  display:block;
  padding:0;
  margin:0;
}

.nav-website .ul-right .menu-li-language .menu-dropdown-language-li .menu-dropdown-language-a:hover,
.nav-website .ul-right .menu-li-language .menu-dropdown-language-li .menu-dropdown-language-a:active,
.nav-website .ul-right .menu-li-language .menu-dropdown-language-li .menu-dropdown-language-a:focus{
    background: rgba(11, 22, 55, 0.5);
    color:#ffffff;
}


.burguer-button{
    display:none;
}


@media(max-width:1200px){

    
        .burguer-button{
            width:40px;
            height:40px;
            background: rgba(255,255,60,1);
            background: -moz-linear-gradient(top, rgba(255,255,60,1) 0%, rgba(231,173,71,1) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,60,1)), color-stop(100%, rgba(231,173,71,1)));
            background: -webkit-linear-gradient(top, rgba(255,255,60,1) 0%, rgba(231,173,71,1) 100%);
            background: -o-linear-gradient(top, rgba(255,255,60,1) 0%, rgba(231,173,71,1) 100%);
            background: -ms-linear-gradient(top, rgba(255,255,60,1) 0%, rgba(231,173,71,1) 100%);
            background: linear-gradient(to bottom, rgba(255,255,60,1) 0%, rgba(231,173,71,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff3c', endColorstr='#e7ad47', GradientType=0 );
            border-radius:50%;
            border:none;
            line-height:40px;
            display:inline-block;
            text-align:center;
            position:absolute;
            top:15px;
            right:15px;
            cursor:pointer;
            z-index:3;
            color:#1E212A;
            }
    
            .burguer-button i:before{
                margin-left:0;
                display:block;
            }
            
        .nav-website-mobile{
            width:100%;
            display:flex;  
            justify-content:flex-start;       
            align-items:flex-start;  
            flex-direction:column;
            position:absolute;
            background-color: rgba(10,16,33,0.9);
            top:80px;
            left:-100%;
            right:0;
            bottom:0;
            z-index:2;
            transition:.3s all;
        }
    
        .nav-website-mobile.nav-website-mobile-activado{
            left:0;
            padding:15px;
         } 

         .nav-website-mobile li{
            display:block;
            padding:1rem 0.5rem;
         } 

         .nav-website-mobile .menu-li-language  .menu-dropdown-language{
           left:0!important;
         }

         .menu-dropdown-language-li{
           position:relative;
         }

         .dropdown-backdrop{
            display:none;
          }
    

    }
