<tr>
	<td><?php echo !empty($meeting["0"]["Meeting"]["meeting_type"]) ? __($meeting["0"]["Meeting"]["meeting_type"]) : __("No disponible")?></td>
	<td><?php echo $meeting["0"]["Meeting"]["subject"]?></td> 
	<td><?php echo h($this->Time->format('d-m-Y h:i A', $meeting["0"]['Meeting']['start_date'])); ?>&nbsp;</td>
	<td><?php echo h($this->Time->format('d-m-Y h:i A', $meeting["0"]['Meeting']['end_date'])); ?>&nbsp;</td> 
	<td><?php echo !empty($meeting["0"]["Meeting"]["location"]) ? __($meeting["0"]["Meeting"]["location"]) : __("No suministrada")?></td> 
</tr>