<form method="POST" id="LoginEenovart" action="<?php echo Configure::read('URL_EENOVART').'users/login_from_recap' ?>">
	<input type="text "name="email" value="<?php echo Authcomponent::user('email'); ?>"> 
</form>

<script type="text/javascript">
	$('#LoginEenovart').trigger('submit'); 
</script>