<form method="POST" id="LoginFlex" action="<?php echo Configure::read('URL_FLEX_CLIENT').'users/login_from_any_app_strategee' ?>">
	<input type="text "name="name" value="<?php echo Authcomponent::user('firstname'). ' ' .Authcomponent::user('lastname'); ?>">
	<input type="text "name="email" value="<?php echo Authcomponent::user('email'); ?>">
	<input type="text" name="ticket_id" value="<?php echo $this->request->query['ticket_id'] ?>"> 
</form>

<script type="text/javascript">
	$('#LoginFlex').trigger('submit'); 
</script>